In [3]:
#  Collect Inspection Data

import os # Operating System
import numpy as np
import pandas as pd
import datetime as dt # Datetime
import json # library to handle JSON files


from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors


print('Libraries imported.')

Libraries imported.

In [4]:
#Read the data for examination (Source: http://landregistry.data.gov.uk/)
df_ppd = pd.read_csv("http://prod2.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-2018.csv")

In [5]:
df_ppd.head(5)

,{7011B109-CFCA-8ED6-E053-6B04A8C075C1},280000,2018-06-04 00:00,IP4 5ES,S,N,F,3,Unnamed: 8,RANDWELL CLOSE,Unnamed: 10,IPSWICH,IPSWICH.1,SUFFOLK,A,A.1
0,{7011B109-CFCB-8ED6-E053-6B04A8C075C1},280000,2018-05-29 00:00,IP1 4BS,T,N,F,261,NaN,NORWICH ROAD,NaN,IPSWICH,IPSWICH,SUFFOLK,A,A
1,{7011B109-CFCC-8ED6-E053-6B04A8C075C1},170000,2018-04-27 00:00,IP4 4BH,T,N,F,31,NaN,PARADE ROAD,NaN,IPSWICH,IPSWICH,SUFFOLK,A,A
2,{7011B109-CFCD-8ED6-E053-6B04A8C075C1},246000,2018-05-25 00:00,IP1 6NB,S,N,F,42,NaN,ELMCROFT ROAD,NaN,IPSWICH,IPSWICH,SUFFOLK,A,A
3,{7011B109-CFCE-8ED6-E053-6B04A8C075C1},180000,2018-06-08 00:00,IP3 9LZ,T,N,F,48,NaN,WYNTERTON CLOSE,NaN,IPSWICH,IPSWICH,SUFFOLK,A,A
4,{7011B109-CFCF-8ED6-E053-6B04A8C075C1},245000,2018-05-11 00:00,IP1 4BU,T,N,F,235,NaN,NORWICH ROAD,NaN,IPSWICH,IPSWICH,SUFFOLK,A,A

In [6]:
df_ppd.shape

(1030277, 16)

In [7]:
# Assign meaningful column names
df_ppd.columns = ['TUID', 'Price', 'Date_Transfer', 'Postcode', 'Prop_Type', 'Old_New', 'Duration', 'PAON', \
                  'SAON', 'Street', 'Locality', 'Town_City', 'District', 'County', 'PPD_Cat_Type', 'Record_Status']

In [8]:
# Format the date column
df_ppd['Date_Transfer'] = df_ppd['Date_Transfer'].apply(pd.to_datetime)

# Delete all obsolete transactions which were done before 2016
df_ppd.drop(df_ppd[df_ppd.Date_Transfer.dt.year < 2016].index, inplace=True)

# Sort by Date of Sale
df_ppd.sort_values(by=['Date_Transfer'],ascending=[False],inplace=True)

In [9]:
df_ppd_london = df_ppd.query("Town_City == 'LONDON'")

# Make a list of street names in LONDON
streets = df_ppd_london['Street'].unique().tolist()

In [10]:
df_grp_price = df_ppd_london.groupby(['Street'])['Price'].mean().reset_index()

# Give meaningful names to the columns
df_grp_price.columns = ['Street', 'Avg_Price']

In [11]:
#Input your Budget's Upper Limit and Lower Limit - Find the locations df_grp_price which fits your budget
df_affordable = df_grp_price.query("(Avg_Price >= 2200000) & (Avg_Price <= 2500000)")

In [12]:
# Display the dataframe
df_affordable

                      Street     Avg_Price
196            ALBION SQUARE  2.450000e+06
390              ANHALT ROAD  2.435000e+06
405          ANSDELL TERRACE  2.250000e+06
422          APPLEGARTH ROAD  2.400000e+06
856          BARONSMEAD ROAD  2.375000e+06
982           BEAUCLERC ROAD  2.480000e+06
1103         BELVEDERE DRIVE  2.340000e+06
1216       BICKENHALL STREET  2.208500e+06
1254       BIRCHLANDS AVENUE  2.217000e+06
1554          BRAMPTON GROVE  2.456875e+06
1633       BRIARDALE GARDENS  2.397132e+06
1798                BROOKWAY  2.400000e+06
1915            BURBAGE ROAD  2.445000e+06
1981               BURY WALK  2.492500e+06
2069         CALLCOTT STREET  2.375000e+06
2130       CAMPDEN HILL ROAD  2.379653e+06
2137            CAMPION ROAD  2.461000e+06
2159           CANNING PLACE  2.425000e+06
2226           CARLISLE ROAD  2.200000e+06
2231         CARLTON GARDENS  2.483500e+06
2243           CARLYLE COURT  2.300000e+06
2407          CHALCOT SQUARE  2.286679e+06
2485            CHARLES LANE  2.414000e+06
2563        CHELSEA CRESCENT  2.495000e+06
2607     CHESTER CLOSE NORTH  2.450000e+06
2639            CHEYNE COURT  2.250000e+06
2642              CHEYNE ROW  2.410000e+06
2687           CHISWICK MALL  2.287500e+06
2762               CITY ROAD  2.468340e+06
2809        CLARENDON STREET  2.250000e+06
...                      ...           ...
10937   RUSSELL GARDENS MEWS  2.300000e+06
11185         SETTLES STREET  2.487500e+06
11260         SHELDON AVENUE  2.349542e+06
11494          SOUTH END ROW  2.470000e+06
11571    SOUTHWOOD LAWN ROAD  2.350000e+06
11574         SOVEREIGN PARK  2.500000e+06
11792  ST MARGARETS CRESCENT  2.216500e+06
11828       ST OSWALDS PLACE  2.250000e+06
11848       ST PETERS SQUARE  2.468730e+06
11885       STAFFORD TERRACE  2.355000e+06
12225       SUTHERLAND PLACE  2.456000e+06
12287          SYDNEY STREET  2.240833e+06
12429            THAMES BANK  2.400000e+06
12491            THE HEXAGON  2.335000e+06
12770        TREDEGAR SQUARE  2.436666e+06
12832         TRINITY STREET  2.317500e+06
12982   UPPER HAMPSTEAD WALK  2.500000e+06
13244        WALPOLE GARDENS  2.303500e+06
13246         WALPOLE STREET  2.242500e+06
13320         WARWICK SQUARE  2.432273e+06
13419            WELBECK WAY  2.267000e+06
13431      WELLESLEY TERRACE  2.410000e+06
13442      WELLINGTON STREET  2.293155e+06
13574     WESTMORELAND PLACE  2.300000e+06
13681       WHITFIELD STREET  2.451000e+06
13726         WILFRED STREET  2.410538e+06
13752     WILLOW BRIDGE ROAD  2.425000e+06
13772          WILSON STREET  2.257500e+06
13800        WINCHENDON ROAD  2.350000e+06
13837           WINGATE ROAD  2.206400e+06

[161 rows x 2 columns]

In [13]:
import pandas as pd
import numpy as np
import datetime as DT
import hmac

In [14]:
from geopy.geocoders import Nominatim
from sklearn.cluster import KMeans
from geopy.distance import vincenty

In [15]:
for index, item in df_affordable.iterrows():
    print(f"index: {index}")
    print(f"item: {item}")
    print(f"item.Street only: {item.Street}")

index: 196
item: Street       ALBION SQUARE
Avg_Price         2.45e+06
Name: 196, dtype: object
item.Street only: ALBION SQUARE
index: 390
item: Street       ANHALT ROAD
Avg_Price      2.435e+06
Name: 390, dtype: object
item.Street only: ANHALT ROAD
index: 405
item: Street       ANSDELL TERRACE
Avg_Price           2.25e+06
Name: 405, dtype: object
item.Street only: ANSDELL TERRACE
index: 422
item: Street       APPLEGARTH ROAD
Avg_Price            2.4e+06
Name: 422, dtype: object
item.Street only: APPLEGARTH ROAD
index: 856
item: Street       BARONSMEAD ROAD
Avg_Price          2.375e+06
Name: 856, dtype: object
item.Street only: BARONSMEAD ROAD
index: 982
item: Street       BEAUCLERC ROAD
Avg_Price          2.48e+06
Name: 982, dtype: object
item.Street only: BEAUCLERC ROAD
index: 1103
item: Street       BELVEDERE DRIVE
Avg_Price           2.34e+06
Name: 1103, dtype: object
item.Street only: BELVEDERE DRIVE
index: 1216
item: Street       BICKENHALL STREET
Avg_Price           2.2085e+06
Name: 1216, dtype: object
item.Street only: BICKENHALL STREET
index: 1254
item: Street       BIRCHLANDS AVENUE
Avg_Price            2.217e+06
Name: 1254, dtype: object
item.Street only: BIRCHLANDS AVENUE
index: 1554
item: Street       BRAMPTON GROVE
Avg_Price       2.45688e+06
Name: 1554, dtype: object
item.Street only: BRAMPTON GROVE
index: 1633
item: Street       BRIARDALE GARDENS
Avg_Price          2.39713e+06
Name: 1633, dtype: object
item.Street only: BRIARDALE GARDENS
index: 1798
item: Street       BROOKWAY
Avg_Price     2.4e+06
Name: 1798, dtype: object
item.Street only: BROOKWAY
index: 1915
item: Street       BURBAGE ROAD
Avg_Price       2.445e+06
Name: 1915, dtype: object
item.Street only: BURBAGE ROAD
index: 1981
item: Street        BURY WALK
Avg_Price    2.4925e+06
Name: 1981, dtype: object
item.Street only: BURY WALK
index: 2069
item: Street       CALLCOTT STREET
Avg_Price          2.375e+06
Name: 2069, dtype: object
item.Street only: CALLCOTT STREET
index: 2130
item: Street       CAMPDEN HILL ROAD
Avg_Price          2.37965e+06
Name: 2130, dtype: object
item.Street only: CAMPDEN HILL ROAD
index: 2137
item: Street       CAMPION ROAD
Avg_Price       2.461e+06
Name: 2137, dtype: object
item.Street only: CAMPION ROAD
index: 2159
item: Street       CANNING PLACE
Avg_Price        2.425e+06
Name: 2159, dtype: object
item.Street only: CANNING PLACE
index: 2226
item: Street       CARLISLE ROAD
Avg_Price          2.2e+06
Name: 2226, dtype: object
item.Street only: CARLISLE ROAD
index: 2231
item: Street       CARLTON GARDENS
Avg_Price         2.4835e+06
Name: 2231, dtype: object
item.Street only: CARLTON GARDENS
index: 2243
item: Street       CARLYLE COURT
Avg_Price          2.3e+06
Name: 2243, dtype: object
item.Street only: CARLYLE COURT
index: 2407
item: Street       CHALCOT SQUARE
Avg_Price       2.28668e+06
Name: 2407, dtype: object
item.Street only: CHALCOT SQUARE
index: 2485
item: Street       CHARLES LANE
Avg_Price       2.414e+06
Name: 2485, dtype: object
item.Street only: CHARLES LANE
index: 2563
item: Street       CHELSEA CRESCENT
Avg_Price           2.495e+06
Name: 2563, dtype: object
item.Street only: CHELSEA CRESCENT
index: 2607
item: Street       CHESTER CLOSE NORTH
Avg_Price               2.45e+06
Name: 2607, dtype: object
item.Street only: CHESTER CLOSE NORTH
index: 2639
item: Street       CHEYNE COURT
Avg_Price        2.25e+06
Name: 2639, dtype: object
item.Street only: CHEYNE COURT
index: 2642
item: Street       CHEYNE ROW
Avg_Price      2.41e+06
Name: 2642, dtype: object
item.Street only: CHEYNE ROW
index: 2687
item: Street       CHISWICK MALL
Avg_Price       2.2875e+06
Name: 2687, dtype: object
item.Street only: CHISWICK MALL
index: 2762
item: Street         CITY ROAD
Avg_Price    2.46834e+06
Name: 2762, dtype: object
item.Street only: CITY ROAD
index: 2809
item: Street       CLARENDON STREET
Avg_Price            2.25e+06
Name: 2809, dtype: object
item.Street only: CLARENDON STREET
index: 2901
item: Street       CLONCURRY STREET
Avg_Price         2.38833e+06
Name: 2901, dtype: object
item.Street only: CLONCURRY STREET
index: 2945
item: Street       COLBECK MEWS
Avg_Price      2.3675e+06
Name: 2945, dtype: object
item.Street only: COLBECK MEWS
index: 2996
item: Street       COLLEGE CRESCENT
Avg_Price            2.44e+06
Name: 2996, dtype: object
item.Street only: COLLEGE CRESCENT
index: 3203
item: Street       CORNWALL TERRACE MEWS
Avg_Price                 2.35e+06
Name: 3203, dtype: object
item.Street only: CORNWALL TERRACE MEWS
index: 3256
item: Street       COURT LANE GARDENS
Avg_Price              2.36e+06
Name: 3256, dtype: object
item.Street only: COURT LANE GARDENS
index: 3378
item: Street       CRESCENT GROVE
Avg_Price         2.298e+06
Name: 3378, dtype: object
item.Street only: CRESCENT GROVE
index: 3584
item: Street       DALEBURY ROAD
Avg_Price          2.4e+06
Name: 3584, dtype: object
item.Street only: DALEBURY ROAD
index: 3849
item: Street       DEWHURST ROAD
Avg_Price        2.425e+06
Name: 3849, dtype: object
item.Street only: DEWHURST ROAD
index: 3930
item: Street       DORIA ROAD
Avg_Price    2.3625e+06
Name: 3930, dtype: object
item.Street only: DORIA ROAD
index: 3981
item: Street       DOWNSHIRE HILL
Avg_Price         2.225e+06
Name: 3981, dtype: object
item.Street only: DOWNSHIRE HILL
index: 4036
item: Street       DUCHESS WALK
Avg_Price      2.4775e+06
Name: 4036, dtype: object
item.Street only: DUCHESS WALK
index: 4233
item: Street       ECCLESTON SQUARE MEWS
Avg_Price               2.3355e+06
Name: 4233, dtype: object
item.Street only: ECCLESTON SQUARE MEWS
index: 4286
item: Street       EGBERT STREET
Avg_Price        2.265e+06
Name: 4286, dtype: object
item.Street only: EGBERT STREET
index: 4290
item: Street       EGERTON PLACE
Avg_Price          2.2e+06
Name: 4290, dtype: object
item.Street only: EGERTON PLACE
index: 4376
item: Street       ELM PARK ROAD
Avg_Price      2.32042e+06
Name: 4376, dtype: object
item.Street only: ELM PARK ROAD
index: 4895
item: Street       FLORAL STREET
Avg_Price      2.22722e+06
Name: 4895, dtype: object
item.Street only: FLORAL STREET
index: 5017
item: Street       FRANK DIXON WAY
Avg_Price         2.2125e+06
Name: 5017, dtype: object
item.Street only: FRANK DIXON WAY
index: 5099
item: Street       FULTON MEWS
Avg_Price      2.299e+06
Name: 5099, dtype: object
item.Street only: FULTON MEWS
index: 5242
item: Street       GERARD ROAD
Avg_Price     2.2585e+06
Name: 5242, dtype: object
item.Street only: GERARD ROAD
index: 5245
item: Street       GERRARD ROAD
Avg_Price      2.2425e+06
Name: 5245, dtype: object
item.Street only: GERRARD ROAD
index: 5290
item: Street       GIRDLERS ROAD
Avg_Price      2.44167e+06
Name: 5290, dtype: object
item.Street only: GIRDLERS ROAD
index: 5383
item: Street       GLOUCESTER CRESCENT
Avg_Price            2.35083e+06
Name: 5383, dtype: object
item.Street only: GLOUCESTER CRESCENT
index: 5451
item: Street       GORDON PLACE
Avg_Price       2.477e+06
Name: 5451, dtype: object
item.Street only: GORDON PLACE
index: 5487
item: Street       GRAFTON SQUARE
Avg_Price          2.27e+06
Name: 5487, dtype: object
item.Street only: GRAFTON SQUARE
index: 5494
item: Street       GRAHAM TERRACE
Avg_Price         2.325e+06
Name: 5494, dtype: object
item.Street only: GRAHAM TERRACE
index: 5953
item: Street       HARMAN DRIVE
Avg_Price      2.2625e+06
Name: 5953, dtype: object
item.Street only: HARMAN DRIVE
index: 5977
item: Street       HARRIS STREET
Avg_Price      2.47177e+06
Name: 5977, dtype: object
item.Street only: HARRIS STREET
index: 6041
item: Street       HAVANNAH STREET
Avg_Price        2.21731e+06
Name: 6041, dtype: object
item.Street only: HAVANNAH STREET
index: 6113
item: Street       HAZLEWELL ROAD
Avg_Price           2.5e+06
Name: 6113, dtype: object
item.Street only: HAZLEWELL ROAD
index: 6229
item: Street       HEREFORD MEWS
Avg_Price         2.31e+06
Name: 6229, dtype: object
item.Street only: HEREFORD MEWS
index: 6249
item: Street       HERONDALE AVENUE
Avg_Price           2.475e+06
Name: 6249, dtype: object
item.Street only: HERONDALE AVENUE
index: 6346
item: Street       HIGHGATE HIGH STREET
Avg_Price               2.211e+06
Name: 6346, dtype: object
item.Street only: HIGHGATE HIGH STREET
index: 6361
item: Street       HIGHWOOD HILL
Avg_Price       2.2525e+06
Name: 6361, dtype: object
item.Street only: HIGHWOOD HILL
index: 6397
item: Street       HILLGATE PLACE
Avg_Price           2.2e+06
Name: 6397, dtype: object
item.Street only: HILLGATE PLACE
index: 6508
item: Street       HOLLYCROFT AVENUE
Avg_Price          2.36138e+06
Name: 6508, dtype: object
item.Street only: HOLLYCROFT AVENUE
index: 6512
item: Street       HOLLYWOOD MEWS
Avg_Price          2.35e+06
Name: 6512, dtype: object
item.Street only: HOLLYWOOD MEWS
index: 6557
item: Street       HONEYWELL ROAD
Avg_Price       2.27833e+06
Name: 6557, dtype: object
item.Street only: HONEYWELL ROAD
index: 6613
item: Street       HORTENSIA ROAD
Avg_Price       2.27592e+06
Name: 6613, dtype: object
item.Street only: HORTENSIA ROAD
index: 6642
item: Street       HOXTON SQUARE
Avg_Price      2.23429e+06
Name: 6642, dtype: object
item.Street only: HOXTON SQUARE
index: 6668
item: Street       HUNTER ROAD
Avg_Price        2.3e+06
Name: 6668, dtype: object
item.Street only: HUNTER ROAD
index: 6827
item: Street       JACKSONS LANE
Avg_Price       2.3625e+06
Name: 6827, dtype: object
item.Street only: JACKSONS LANE
index: 6887
item: Street       JOHN STREET
Avg_Price      2.235e+06
Name: 6887, dtype: object
item.Street only: JOHN STREET
index: 7192
item: Street       KINNERTON STREET
Avg_Price          2.4856e+06
Name: 7192, dtype: object
item.Street only: KINNERTON STREET
index: 7226
item: Street       KNARESBOROUGH PLACE
Avg_Price              2.325e+06
Name: 7226, dtype: object
item.Street only: KNARESBOROUGH PLACE
index: 7246
item: Street       KNOX STREET
Avg_Price       2.25e+06
Name: 7246, dtype: object
item.Street only: KNOX STREET
index: 7335
item: Street       LANCASTER MEWS
Avg_Price        2.3125e+06
Name: 7335, dtype: object
item.Street only: LANCASTER MEWS
index: 7405
item: Street       LANSDOWNE ROAD
Avg_Price       2.36488e+06
Name: 7405, dtype: object
item.Street only: LANSDOWNE ROAD
index: 7434
item: Street       LATIMER INDUSTRIAL ESTATE
Avg_Price                      2.4e+06
Name: 7434, dtype: object
item.Street only: LATIMER INDUSTRIAL ESTATE
index: 7487
item: Street       LAXTON PLACE
Avg_Price         2.5e+06
Name: 7487, dtype: object
item.Street only: LAXTON PLACE
index: 7689
item: Street       LINCOLN AVENUE
Avg_Price        2.2035e+06
Name: 7689, dtype: object
item.Street only: LINCOLN AVENUE
index: 7718
item: Street       LINGFIELD ROAD
Avg_Price       2.24875e+06
Name: 7718, dtype: object
item.Street only: LINGFIELD ROAD
index: 7747
item: Street       LISSON STREET
Avg_Price       2.4625e+06
Name: 7747, dtype: object
item.Street only: LISSON STREET
index: 7781
item: Street       LIVERPOOL GROVE
Avg_Price          2.288e+06
Name: 7781, dtype: object
item.Street only: LIVERPOOL GROVE
index: 7873
item: Street       LONGWOOD DRIVE
Avg_Price         2.375e+06
Name: 7873, dtype: object
item.Street only: LONGWOOD DRIVE
index: 7879
item: Street       LONSDALE SQUARE
Avg_Price         2.3575e+06
Name: 7879, dtype: object
item.Street only: LONSDALE SQUARE
index: 8417
item: Street       MAZE HILL
Avg_Price     2.25e+06
Name: 8417, dtype: object
item.Street only: MAZE HILL
index: 8552
item: Street       MIDDLESEX PASSAGE
Avg_Price             2.28e+06
Name: 8552, dtype: object
item.Street only: MIDDLESEX PASSAGE
index: 8716
item: Street       MONTPELIER AVENUE
Avg_Price              2.5e+06
Name: 8716, dtype: object
item.Street only: MONTPELIER AVENUE
index: 8726
item: Street       MONTPELIER WALK
Avg_Price           2.32e+06
Name: 8726, dtype: object
item.Street only: MONTPELIER WALK
index: 8874
item: Street       MULTON ROAD
Avg_Price        2.3e+06
Name: 8874, dtype: object
item.Street only: MULTON ROAD
index: 8879
item: Street       MUNDEN STREET
Avg_Price         2.25e+06
Name: 8879, dtype: object
item.Street only: MUNDEN STREET
index: 9153
item: Street       NORFOLK CRESCENT
Avg_Price         2.22333e+06
Name: 9153, dtype: object
item.Street only: NORFOLK CRESCENT
index: 9176
item: Street       NORTH CIRCULAR ROAD
Avg_Price            2.39314e+06
Name: 9176, dtype: object
item.Street only: NORTH CIRCULAR ROAD
index: 9252
item: Street       NOTTINGHAM STREET
Avg_Price           2.2275e+06
Name: 9252, dtype: object
item.Street only: NOTTINGHAM STREET
index: 9327
item: Street       OAKLEY STREET
Avg_Price      2.38129e+06
Name: 9327, dtype: object
item.Street only: OAKLEY STREET
index: 9338
item: Street       OAKWOOD COURT
Avg_Price      2.34875e+06
Name: 9338, dtype: object
item.Street only: OAKWOOD COURT
index: 9346
item: Street       OBSERVATORY GARDENS
Avg_Price               2.42e+06
Name: 9346, dtype: object
item.Street only: OBSERVATORY GARDENS
index: 9381
item: Street       OLD COURT PLACE
Avg_Price          2.395e+06
Name: 9381, dtype: object
item.Street only: OLD COURT PLACE
index: 9442
item: Street       ONSLOW MEWS WEST
Avg_Price             2.3e+06
Name: 9442, dtype: object
item.Street only: ONSLOW MEWS WEST
index: 9574
item: Street       PALACE PLACE
Avg_Price         2.3e+06
Name: 9574, dtype: object
item.Street only: PALACE PLACE
index: 9603
item: Street       PANTON STREET
Avg_Price        2.475e+06
Name: 9603, dtype: object
item.Street only: PANTON STREET
index: 9622
item: Street       PARK CRESCENT
Avg_Price         2.44e+06
Name: 9622, dtype: object
item.Street only: PARK CRESCENT
index: 9631
item: Street        PARK LANE
Avg_Price    2.2415e+06
Name: 9631, dtype: object
item.Street only: PARK LANE
index: 9652
item: Street       PARKE ROAD
Avg_Price    2.2625e+06
Name: 9652, dtype: object
item.Street only: PARKE ROAD
index: 9655
item: Street       PARKFIELDS
Avg_Price       2.2e+06
Name: 9655, dtype: object
item.Street only: PARKFIELDS
index: 9692
item: Street       PARTHENIA ROAD
Avg_Price       2.20057e+06
Name: 9692, dtype: object
item.Street only: PARTHENIA ROAD
index: 9724
item: Street       PAVILION ROAD
Avg_Price          2.2e+06
Name: 9724, dtype: object
item.Street only: PAVILION ROAD
index: 9785
item: Street       PEMBRIDGE MEWS
Avg_Price         2.251e+06
Name: 9785, dtype: object
item.Street only: PEMBRIDGE MEWS
index: 9787
item: Street       PEMBRIDGE ROAD
Avg_Price           2.4e+06
Name: 9787, dtype: object
item.Street only: PEMBRIDGE ROAD
index: 9796
item: Street       PEMBROKE STUDIOS
Avg_Price            2.45e+06
Name: 9796, dtype: object
item.Street only: PEMBROKE STUDIOS
index: 9801
item: Street       PENCOMBE MEWS
Avg_Price          2.2e+06
Name: 9801, dtype: object
item.Street only: PENCOMBE MEWS
index: 9881
item: Street       PETERSHAM PLACE
Avg_Price            2.3e+06
Name: 9881, dtype: object
item.Street only: PETERSHAM PLACE
index: 9896
item: Street       PHILLIMORE GARDENS
Avg_Price           2.48467e+06
Name: 9896, dtype: object
item.Street only: PHILLIMORE GARDENS
index: 9904
item: Street       PHYSIC PLACE
Avg_Price         2.5e+06
Name: 9904, dtype: object
item.Street only: PHYSIC PLACE
index: 9942
item: Street       PITFIELD STREET
Avg_Price        2.48333e+06
Name: 9942, dtype: object
item.Street only: PITFIELD STREET
index: 10152
item: Street       PRINCES GATE
Avg_Price     2.40333e+06
Name: 10152, dtype: object
item.Street only: PRINCES GATE
index: 10180
item: Street       PRIORY ROAD
Avg_Price    2.24826e+06
Name: 10180, dtype: object
item.Street only: PRIORY ROAD
index: 10191
item: Street       PROTHERO GARDENS
Avg_Price          2.2025e+06
Name: 10191, dtype: object
item.Street only: PROTHERO GARDENS
index: 10227
item: Street       PUTNEY HIGH STREET
Avg_Price            2.3486e+06
Name: 10227, dtype: object
item.Street only: PUTNEY HIGH STREET
index: 10244
item: Street       QUARRENDON STREET
Avg_Price          2.43775e+06
Name: 10244, dtype: object
item.Street only: QUARRENDON STREET
index: 10277
item: Street       QUEENS GATE TERRACE
Avg_Price            2.39944e+06
Name: 10277, dtype: object
item.Street only: QUEENS GATE TERRACE
index: 10331
item: Street       RADSTOCK STREET
Avg_Price         2.2175e+06
Name: 10331, dtype: object
item.Street only: RADSTOCK STREET
index: 10376
item: Street       RANELAGH AVENUE
Avg_Price            2.3e+06
Name: 10376, dtype: object
item.Street only: RANELAGH AVENUE
index: 10484
item: Street       REDCLIFFE ROAD
Avg_Price       2.44875e+06
Name: 10484, dtype: object
item.Street only: REDCLIFFE ROAD
index: 10509
item: Street       REEVES MEWS
Avg_Price       2.45e+06
Name: 10509, dtype: object
item.Street only: REEVES MEWS
index: 10566
item: Street       RHEIDOL MEWS
Avg_Price        2.31e+06
Name: 10566, dtype: object
item.Street only: RHEIDOL MEWS
index: 10621
item: Street       RINGWOOD AVENUE
Avg_Price          2.275e+06
Name: 10621, dtype: object
item.Street only: RINGWOOD AVENUE
index: 10702
item: Street       RODERICK ROAD
Avg_Price          2.4e+06
Name: 10702, dtype: object
item.Street only: RODERICK ROAD
index: 10759
item: Street       ROPEMAKERS FIELDS
Avg_Price              2.5e+06
Name: 10759, dtype: object
item.Street only: ROPEMAKERS FIELDS
index: 10874
item: Street       ROYAL CRESCENT
Avg_Price       2.34833e+06
Name: 10874, dtype: object
item.Street only: ROYAL CRESCENT
index: 10880
item: Street       ROYAL HILL
Avg_Price    2.2525e+06
Name: 10880, dtype: object
item.Street only: ROYAL HILL
index: 10937
item: Street       RUSSELL GARDENS MEWS
Avg_Price                 2.3e+06
Name: 10937, dtype: object
item.Street only: RUSSELL GARDENS MEWS
index: 11185
item: Street       SETTLES STREET
Avg_Price        2.4875e+06
Name: 11185, dtype: object
item.Street only: SETTLES STREET
index: 11260
item: Street       SHELDON AVENUE
Avg_Price       2.34954e+06
Name: 11260, dtype: object
item.Street only: SHELDON AVENUE
index: 11494
item: Street       SOUTH END ROW
Avg_Price         2.47e+06
Name: 11494, dtype: object
item.Street only: SOUTH END ROW
index: 11571
item: Street       SOUTHWOOD LAWN ROAD
Avg_Price               2.35e+06
Name: 11571, dtype: object
item.Street only: SOUTHWOOD LAWN ROAD
index: 11574
item: Street       SOVEREIGN PARK
Avg_Price           2.5e+06
Name: 11574, dtype: object
item.Street only: SOVEREIGN PARK
index: 11792
item: Street       ST MARGARETS CRESCENT
Avg_Price               2.2165e+06
Name: 11792, dtype: object
item.Street only: ST MARGARETS CRESCENT
index: 11828
item: Street       ST OSWALDS PLACE
Avg_Price            2.25e+06
Name: 11828, dtype: object
item.Street only: ST OSWALDS PLACE
index: 11848
item: Street       ST PETERS SQUARE
Avg_Price         2.46873e+06
Name: 11848, dtype: object
item.Street only: ST PETERS SQUARE
index: 11885
item: Street       STAFFORD TERRACE
Avg_Price           2.355e+06
Name: 11885, dtype: object
item.Street only: STAFFORD TERRACE
index: 12225
item: Street       SUTHERLAND PLACE
Avg_Price           2.456e+06
Name: 12225, dtype: object
item.Street only: SUTHERLAND PLACE
index: 12287
item: Street       SYDNEY STREET
Avg_Price      2.24083e+06
Name: 12287, dtype: object
item.Street only: SYDNEY STREET
index: 12429
item: Street       THAMES BANK
Avg_Price        2.4e+06
Name: 12429, dtype: object
item.Street only: THAMES BANK
index: 12491
item: Street       THE HEXAGON
Avg_Price      2.335e+06
Name: 12491, dtype: object
item.Street only: THE HEXAGON
index: 12770
item: Street       TREDEGAR SQUARE
Avg_Price        2.43667e+06
Name: 12770, dtype: object
item.Street only: TREDEGAR SQUARE
index: 12832
item: Street       TRINITY STREET
Avg_Price        2.3175e+06
Name: 12832, dtype: object
item.Street only: TRINITY STREET
index: 12982
item: Street       UPPER HAMPSTEAD WALK
Avg_Price                 2.5e+06
Name: 12982, dtype: object
item.Street only: UPPER HAMPSTEAD WALK
index: 13244
item: Street       WALPOLE GARDENS
Avg_Price         2.3035e+06
Name: 13244, dtype: object
item.Street only: WALPOLE GARDENS

In [16]:
geolocator = Nominatim()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  if __name__ == '__main__':

In [17]:
df_affordable['city_coord'] = df_affordable['Street'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [18]:
df_affordable

,Street,Avg_Price,city_coord
196,ALBION SQUARE,2.450000e+06,"(-41.27375755, 173.28939323910353)"
390,ANHALT ROAD,2.435000e+06,"(29.805547, -98.475534)"
405,ANSDELL TERRACE,2.250000e+06,"(51.4998899, -0.1891027)"
422,APPLEGARTH ROAD,2.400000e+06,"(53.7486539, -0.3266704)"
856,BARONSMEAD ROAD,2.375000e+06,"(51.4773147, -0.239457)"
982,BEAUCLERC ROAD,2.480000e+06,"(30.2114523, -81.6179807)"
1103,BELVEDERE DRIVE,2.340000e+06,"(44.7075622, -63.5455988)"
1216,BICKENHALL STREET,2.208500e+06,"(51.5212014, -0.1589082)"
1254,BIRCHLANDS AVENUE,2.217000e+06,"(51.4483941, -0.1604676)"
1554,BRAMPTON GROVE,2.456875e+06,"(51.5899607, -0.3185249)"
1633,BRIARDALE GARDENS,2.397132e+06,"(51.5601748, -0.1954305)"
1798,BROOKWAY,2.400000e+06,"(45.432184899999996, -122.80281166115779)"
1915,BURBAGE ROAD,2.445000e+06,"(52.5385071, -1.3536736)"
1981,BURY WALK,2.492500e+06,"(52.1455294, -0.4235933)"
2069,CALLCOTT STREET,2.375000e+06,"(51.5083499, -0.1983276)"
2130,CAMPDEN HILL ROAD,2.379653e+06,"(51.5063515, -0.1988531)"
2137,CAMPION ROAD,2.461000e+06,"(43.623321, -70.236225)"
2159,CANNING PLACE,2.425000e+06,"(52.6410267, -1.135223)"
2226,CARLISLE ROAD,2.200000e+06,"(43.3994382, -79.973215)"
2231,CARLTON GARDENS,2.483500e+06,"(-37.80194335, 144.9719701710172)"
2243,CARLYLE COURT,2.300000e+06,"(32.972700950000004, -97.17339170977195)"
2407,CHALCOT SQUARE,2.286679e+06,"(51.5410876, -0.1559279)"
2485,CHARLES LANE,2.414000e+06,"(40.257626, -75.093891)"
2563,CHELSEA CRESCENT,2.495000e+06,"(34.522443, -85.443891)"
2607,CHESTER CLOSE NORTH,2.450000e+06,"(51.5292054, -0.1450813)"
2639,CHEYNE COURT,2.250000e+06,"(52.0359049, 0.7276119)"
2642,CHEYNE ROW,2.410000e+06,"(51.4837173, -0.169603)"
2687,CHISWICK MALL,2.287500e+06,"(51.4879942, -0.2466045)"
2762,CITY ROAD,2.468340e+06,"(51.5296972, -0.0977626)"
2809,CLARENDON STREET,2.250000e+06,"(42.2849611, -71.3455345)"
...,...,...,...
10937,RUSSELL GARDENS MEWS,2.300000e+06,"(51.4999175, -0.2119443)"
11185,SETTLES STREET,2.487500e+06,"(32.2394242, -101.4571232)"
11260,SHELDON AVENUE,2.349542e+06,"(36.9812542, -122.0405065)"
11494,SOUTH END ROW,2.470000e+06,"(51.4987463, -0.1890787)"
11571,SOUTHWOOD LAWN ROAD,2.350000e+06,"(51.5746267, -0.146238)"
11574,SOVEREIGN PARK,2.500000e+06,"(-27.49371345, 153.21014259876813)"
11792,ST MARGARETS CRESCENT,2.216500e+06,"(17.0975135, -88.6161153)"
11828,ST OSWALDS PLACE,2.250000e+06,"(51.4872071, -0.1185341)"
11848,ST PETERS SQUARE,2.468730e+06,"(41.9022353, 12.457357310298008)"
11885,STAFFORD TERRACE,2.355000e+06,"(40.849931, -74.409495)"
12225,SUTHERLAND PLACE,2.456000e+06,"(44.3106848, -78.3098615)"
12287,SYDNEY STREET,2.240833e+06,"(-29.823972, 30.9192479)"
12429,THAMES BANK,2.400000e+06,"(52.0861345, -0.2419942)"
12491,THE HEXAGON,2.335000e+06,"(51.45388235, -0.9778342181052991)"
12770,TREDEGAR SQUARE,2.436666e+06,"(51.5270935, -0.03218423325966063)"
12832,TRINITY STREET,2.317500e+06,"(50.3383163, -4.7954295)"
12982,UPPER HAMPSTEAD WALK,2.500000e+06,"(51.558467, -0.1774529)"
13244,WALPOLE GARDENS,2.303500e+06,"(51.4397435, -0.3412634)"
13246,WALPOLE STREET,2.242500e+06,"(-27.8725844, 151.2717768)"
13320,WARWICK SQUARE,2.432273e+06,"(33.7385632, -117.84650567746482)"
13419,WELBECK WAY,2.267000e+06,"(52.5580053, -0.262309)"
13431,WELLESLEY TERRACE,2.410000e+06,"(54.9743127, -1.6402018)"
13442,WELLINGTON STREET,2.293155e+06,"(45.4234495, -75.6980579)"
13574,WESTMORELAND PLACE,2.300000e+06,"(40.7402242, -111.8463235)"
13681,WHITFIELD STREET,2.451000e+06,"(51.5218334, -0.136734)"
13726,WILFRED STREET,2.410538e+06,"(51.442178, 0.372743)"
13752,WILLOW BRIDGE ROAD,2.425000e+06,"(53.6408743, -1.2004617)"
13772,WILSON STREET,2.257500e+06,"(45.7004857, -121.52187527526078)"
13800,WINCHENDON ROAD,2.350000e+06,"(42.645331, -71.954714)"
13837,WINGATE ROAD,2.206400e+06,"(-29.9221298, 30.966309)"

In [19]:
df_affordable[['Latitude', 'Longitude']] = df_affordable['city_coord'].apply(pd.Series)

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [20]:
df_affordable

,Street,Avg_Price,city_coord,Latitude,Longitude
196,ALBION SQUARE,2.450000e+06,"(-41.27375755, 173.28939323910353)",-41.273758,173.289393
390,ANHALT ROAD,2.435000e+06,"(29.805547, -98.475534)",29.805547,-98.475534
405,ANSDELL TERRACE,2.250000e+06,"(51.4998899, -0.1891027)",51.499890,-0.189103
422,APPLEGARTH ROAD,2.400000e+06,"(53.7486539, -0.3266704)",53.748654,-0.326670
856,BARONSMEAD ROAD,2.375000e+06,"(51.4773147, -0.239457)",51.477315,-0.239457
982,BEAUCLERC ROAD,2.480000e+06,"(30.2114523, -81.6179807)",30.211452,-81.617981
1103,BELVEDERE DRIVE,2.340000e+06,"(44.7075622, -63.5455988)",44.707562,-63.545599
1216,BICKENHALL STREET,2.208500e+06,"(51.5212014, -0.1589082)",51.521201,-0.158908
1254,BIRCHLANDS AVENUE,2.217000e+06,"(51.4483941, -0.1604676)",51.448394,-0.160468
1554,BRAMPTON GROVE,2.456875e+06,"(51.5899607, -0.3185249)",51.589961,-0.318525
1633,BRIARDALE GARDENS,2.397132e+06,"(51.5601748, -0.1954305)",51.560175,-0.195431
1798,BROOKWAY,2.400000e+06,"(45.432184899999996, -122.80281166115779)",45.432185,-122.802812
1915,BURBAGE ROAD,2.445000e+06,"(52.5385071, -1.3536736)",52.538507,-1.353674
1981,BURY WALK,2.492500e+06,"(52.1455294, -0.4235933)",52.145529,-0.423593
2069,CALLCOTT STREET,2.375000e+06,"(51.5083499, -0.1983276)",51.508350,-0.198328
2130,CAMPDEN HILL ROAD,2.379653e+06,"(51.5063515, -0.1988531)",51.506352,-0.198853
2137,CAMPION ROAD,2.461000e+06,"(43.623321, -70.236225)",43.623321,-70.236225
2159,CANNING PLACE,2.425000e+06,"(52.6410267, -1.135223)",52.641027,-1.135223
2226,CARLISLE ROAD,2.200000e+06,"(43.3994382, -79.973215)",43.399438,-79.973215
2231,CARLTON GARDENS,2.483500e+06,"(-37.80194335, 144.9719701710172)",-37.801943,144.971970
2243,CARLYLE COURT,2.300000e+06,"(32.972700950000004, -97.17339170977195)",32.972701,-97.173392
2407,CHALCOT SQUARE,2.286679e+06,"(51.5410876, -0.1559279)",51.541088,-0.155928
2485,CHARLES LANE,2.414000e+06,"(40.257626, -75.093891)",40.257626,-75.093891
2563,CHELSEA CRESCENT,2.495000e+06,"(34.522443, -85.443891)",34.522443,-85.443891
2607,CHESTER CLOSE NORTH,2.450000e+06,"(51.5292054, -0.1450813)",51.529205,-0.145081
2639,CHEYNE COURT,2.250000e+06,"(52.0359049, 0.7276119)",52.035905,0.727612
2642,CHEYNE ROW,2.410000e+06,"(51.4837173, -0.169603)",51.483717,-0.169603
2687,CHISWICK MALL,2.287500e+06,"(51.4879942, -0.2466045)",51.487994,-0.246605
2762,CITY ROAD,2.468340e+06,"(51.5296972, -0.0977626)",51.529697,-0.097763
2809,CLARENDON STREET,2.250000e+06,"(42.2849611, -71.3455345)",42.284961,-71.345534
...,...,...,...,...,...
10937,RUSSELL GARDENS MEWS,2.300000e+06,"(51.4999175, -0.2119443)",51.499918,-0.211944
11185,SETTLES STREET,2.487500e+06,"(32.2394242, -101.4571232)",32.239424,-101.457123
11260,SHELDON AVENUE,2.349542e+06,"(36.9812542, -122.0405065)",36.981254,-122.040507
11494,SOUTH END ROW,2.470000e+06,"(51.4987463, -0.1890787)",51.498746,-0.189079
11571,SOUTHWOOD LAWN ROAD,2.350000e+06,"(51.5746267, -0.146238)",51.574627,-0.146238
11574,SOVEREIGN PARK,2.500000e+06,"(-27.49371345, 153.21014259876813)",-27.493713,153.210143
11792,ST MARGARETS CRESCENT,2.216500e+06,"(17.0975135, -88.6161153)",17.097514,-88.616115
11828,ST OSWALDS PLACE,2.250000e+06,"(51.4872071, -0.1185341)",51.487207,-0.118534
11848,ST PETERS SQUARE,2.468730e+06,"(41.9022353, 12.457357310298008)",41.902235,12.457357
11885,STAFFORD TERRACE,2.355000e+06,"(40.849931, -74.409495)",40.849931,-74.409495
12225,SUTHERLAND PLACE,2.456000e+06,"(44.3106848, -78.3098615)",44.310685,-78.309861
12287,SYDNEY STREET,2.240833e+06,"(-29.823972, 30.9192479)",-29.823972,30.919248
12429,THAMES BANK,2.400000e+06,"(52.0861345, -0.2419942)",52.086135,-0.241994
12491,THE HEXAGON,2.335000e+06,"(51.45388235, -0.9778342181052991)",51.453882,-0.977834
12770,TREDEGAR SQUARE,2.436666e+06,"(51.5270935, -0.03218423325966063)",51.527093,-0.032184
12832,TRINITY STREET,2.317500e+06,"(50.3383163, -4.7954295)",50.338316,-4.795430
12982,UPPER HAMPSTEAD WALK,2.500000e+06,"(51.558467, -0.1774529)",51.558467,-0.177453
13244,WALPOLE GARDENS,2.303500e+06,"(51.4397435, -0.3412634)",51.439743,-0.341263
13246,WALPOLE STREET,2.242500e+06,"(-27.8725844, 151.2717768)",-27.872584,151.271777
13320,WARWICK SQUARE,2.432273e+06,"(33.7385632, -117.84650567746482)",33.738563,-117.846506
13419,WELBECK WAY,2.267000e+06,"(52.5580053, -0.262309)",52.558005,-0.262309
13431,WELLESLEY TERRACE,2.410000e+06,"(54.9743127, -1.6402018)",54.974313,-1.640202
13442,WELLINGTON STREET,2.293155e+06,"(45.4234495, -75.6980579)",45.423449,-75.698058
13574,WESTMORELAND PLACE,2.300000e+06,"(40.7402242, -111.8463235)",40.740224,-111.846323
13681,WHITFIELD STREET,2.451000e+06,"(51.5218334, -0.136734)",51.521833,-0.136734
13726,WILFRED STREET,2.410538e+06,"(51.442178, 0.372743)",51.442178,0.372743
13752,WILLOW BRIDGE ROAD,2.425000e+06,"(53.6408743, -1.2004617)",53.640874,-1.200462
13772,WILSON STREET,2.257500e+06,"(45.7004857, -121.52187527526078)",45.700486,-121.521875
13800,WINCHENDON ROAD,2.350000e+06,"(42.645331, -71.954714)",42.645331,-71.954714
13837,WINGATE ROAD,2.206400e+06,"(-29.9221298, 30.966309)",-29.922130,30.966309

In [21]:
df = df_affordable.drop(columns=['city_coord'])

In [22]:
df

                      Street     Avg_Price   Latitude   Longitude
196            ALBION SQUARE  2.450000e+06 -41.273758  173.289393
390              ANHALT ROAD  2.435000e+06  29.805547  -98.475534
405          ANSDELL TERRACE  2.250000e+06  51.499890   -0.189103
422          APPLEGARTH ROAD  2.400000e+06  53.748654   -0.326670
856          BARONSMEAD ROAD  2.375000e+06  51.477315   -0.239457
982           BEAUCLERC ROAD  2.480000e+06  30.211452  -81.617981
1103         BELVEDERE DRIVE  2.340000e+06  44.707562  -63.545599
1216       BICKENHALL STREET  2.208500e+06  51.521201   -0.158908
1254       BIRCHLANDS AVENUE  2.217000e+06  51.448394   -0.160468
1554          BRAMPTON GROVE  2.456875e+06  51.589961   -0.318525
1633       BRIARDALE GARDENS  2.397132e+06  51.560175   -0.195431
1798                BROOKWAY  2.400000e+06  45.432185 -122.802812
1915            BURBAGE ROAD  2.445000e+06  52.538507   -1.353674
1981               BURY WALK  2.492500e+06  52.145529   -0.423593
2069         CALLCOTT STREET  2.375000e+06  51.508350   -0.198328
2130       CAMPDEN HILL ROAD  2.379653e+06  51.506352   -0.198853
2137            CAMPION ROAD  2.461000e+06  43.623321  -70.236225
2159           CANNING PLACE  2.425000e+06  52.641027   -1.135223
2226           CARLISLE ROAD  2.200000e+06  43.399438  -79.973215
2231         CARLTON GARDENS  2.483500e+06 -37.801943  144.971970
2243           CARLYLE COURT  2.300000e+06  32.972701  -97.173392
2407          CHALCOT SQUARE  2.286679e+06  51.541088   -0.155928
2485            CHARLES LANE  2.414000e+06  40.257626  -75.093891
2563        CHELSEA CRESCENT  2.495000e+06  34.522443  -85.443891
2607     CHESTER CLOSE NORTH  2.450000e+06  51.529205   -0.145081
2639            CHEYNE COURT  2.250000e+06  52.035905    0.727612
2642              CHEYNE ROW  2.410000e+06  51.483717   -0.169603
2687           CHISWICK MALL  2.287500e+06  51.487994   -0.246605
2762               CITY ROAD  2.468340e+06  51.529697   -0.097763
2809        CLARENDON STREET  2.250000e+06  42.284961  -71.345534
...                      ...           ...        ...         ...
10937   RUSSELL GARDENS MEWS  2.300000e+06  51.499918   -0.211944
11185         SETTLES STREET  2.487500e+06  32.239424 -101.457123
11260         SHELDON AVENUE  2.349542e+06  36.981254 -122.040507
11494          SOUTH END ROW  2.470000e+06  51.498746   -0.189079
11571    SOUTHWOOD LAWN ROAD  2.350000e+06  51.574627   -0.146238
11574         SOVEREIGN PARK  2.500000e+06 -27.493713  153.210143
11792  ST MARGARETS CRESCENT  2.216500e+06  17.097514  -88.616115
11828       ST OSWALDS PLACE  2.250000e+06  51.487207   -0.118534
11848       ST PETERS SQUARE  2.468730e+06  41.902235   12.457357
11885       STAFFORD TERRACE  2.355000e+06  40.849931  -74.409495
12225       SUTHERLAND PLACE  2.456000e+06  44.310685  -78.309861
12287          SYDNEY STREET  2.240833e+06 -29.823972   30.919248
12429            THAMES BANK  2.400000e+06  52.086135   -0.241994
12491            THE HEXAGON  2.335000e+06  51.453882   -0.977834
12770        TREDEGAR SQUARE  2.436666e+06  51.527093   -0.032184
12832         TRINITY STREET  2.317500e+06  50.338316   -4.795430
12982   UPPER HAMPSTEAD WALK  2.500000e+06  51.558467   -0.177453
13244        WALPOLE GARDENS  2.303500e+06  51.439743   -0.341263
13246         WALPOLE STREET  2.242500e+06 -27.872584  151.271777
13320         WARWICK SQUARE  2.432273e+06  33.738563 -117.846506
13419            WELBECK WAY  2.267000e+06  52.558005   -0.262309
13431      WELLESLEY TERRACE  2.410000e+06  54.974313   -1.640202
13442      WELLINGTON STREET  2.293155e+06  45.423449  -75.698058
13574     WESTMORELAND PLACE  2.300000e+06  40.740224 -111.846323
13681       WHITFIELD STREET  2.451000e+06  51.521833   -0.136734
13726         WILFRED STREET  2.410538e+06  51.442178    0.372743
13752     WILLOW BRIDGE ROAD  2.425000e+06  53.640874   -1.200462
13772          WILSON STREET  2.257500e+06  45.700486 -121.521875
13800        WINCHENDON ROAD  2.350000e+06  42.645331  -71.954714
13837           WINGATE ROAD  2.206400e+06 -29.922130   30.966309

[161 rows x 4 columns]

In [23]:
address = 'London, UK'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London City are {}, {}.'.format(latitude, longitude))

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  app.launch_new_instance()

The geograpical coordinate of London City are 51.5073219, -0.1276474.

In [65]:
# import folium

In [67]:
# create map of London using latitude and longitude values
map_london = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, price, street in zip(df['Latitude'], df['Longitude'], df['Avg_Price'], df['Street']):
    label = '{}, {}'.format(street, price)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  
    
map_london

NameError: name 'folium' is not defined

In [32]:
#Define Foursquare Credentials and Version

CLIENT_ID = 'KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3' # Foursquare ID
CLIENT_SECRET = 'QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD' # Foursquare Secret
VERSION = '20181206' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: KI3TR0QO4JOKMFELOMF3WSOOI3HFNBF5YLW354MYWBKDHEX3
CLIENT_SECRET:QF4ZBLJRBV4BQX52DVWUPEHJ14A2UJABPCZARZQZYTKIISUD

In [33]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT=100):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Street', 
                  'Street Latitude', 
                  'Street Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [34]:
# Run the above function on each location and create a new dataframe called location_venues and display it.
location_venues = getNearbyVenues(names=df['Street'],
                                   latitudes=df['Latitude'],
                                   longitudes=df['Longitude']
                                  )

ALBION SQUARE
ANHALT ROAD
ANSDELL TERRACE
APPLEGARTH ROAD
BARONSMEAD ROAD
BEAUCLERC ROAD
BELVEDERE DRIVE
BICKENHALL STREET
BIRCHLANDS AVENUE
BRAMPTON GROVE
BRIARDALE GARDENS
BROOKWAY
BURBAGE ROAD
BURY WALK
CALLCOTT STREET
CAMPDEN HILL ROAD
CAMPION ROAD
CANNING PLACE
CARLISLE ROAD
CARLTON GARDENS
CARLYLE COURT
CHALCOT SQUARE
CHARLES LANE
CHELSEA CRESCENT
CHESTER CLOSE NORTH
CHEYNE COURT
CHEYNE ROW
CHISWICK MALL
CITY ROAD
CLARENDON STREET
CLONCURRY STREET
COLBECK MEWS
COLLEGE CRESCENT
CORNWALL TERRACE MEWS
COURT LANE GARDENS
CRESCENT GROVE
DALEBURY ROAD
DEWHURST ROAD
DORIA ROAD
DOWNSHIRE HILL
DUCHESS WALK
ECCLESTON SQUARE MEWS
EGBERT STREET
EGERTON PLACE
ELM PARK ROAD
FLORAL STREET
FRANK DIXON WAY
FULTON MEWS
GERARD ROAD
GERRARD ROAD
GIRDLERS ROAD
GLOUCESTER CRESCENT
GORDON PLACE
GRAFTON SQUARE
GRAHAM TERRACE
HARMAN DRIVE
HARRIS STREET
HAVANNAH STREET
HAZLEWELL ROAD
HEREFORD MEWS
HERONDALE AVENUE
HIGHGATE HIGH STREET
HIGHWOOD HILL
HILLGATE PLACE
HOLLYCROFT AVENUE
HOLLYWOOD MEWS
HONEYWELL ROAD
HORTENSIA ROAD
HOXTON SQUARE
HUNTER ROAD
JACKSONS LANE
JOHN STREET
KINNERTON STREET
KNARESBOROUGH PLACE
KNOX STREET
LANCASTER MEWS
LANSDOWNE ROAD
LATIMER INDUSTRIAL ESTATE
LAXTON PLACE
LINCOLN AVENUE
LINGFIELD ROAD
LISSON STREET
LIVERPOOL GROVE
LONGWOOD DRIVE
LONSDALE SQUARE
MAZE HILL
MIDDLESEX PASSAGE
MONTPELIER AVENUE
MONTPELIER WALK
MULTON ROAD
MUNDEN STREET
NORFOLK CRESCENT
NORTH CIRCULAR ROAD
NOTTINGHAM STREET
OAKLEY STREET
OAKWOOD COURT
OBSERVATORY GARDENS
OLD COURT PLACE
ONSLOW MEWS WEST
PALACE PLACE
PANTON STREET
PARK CRESCENT
PARK LANE
PARKE ROAD
PARKFIELDS
PARTHENIA ROAD
PAVILION ROAD
PEMBRIDGE MEWS
PEMBRIDGE ROAD
PEMBROKE STUDIOS
PENCOMBE MEWS
PETERSHAM PLACE
PHILLIMORE GARDENS
PHYSIC PLACE
PITFIELD STREET
PRINCES GATE
PRIORY ROAD
PROTHERO GARDENS
PUTNEY HIGH STREET
QUARRENDON STREET
QUEENS GATE TERRACE
RADSTOCK STREET
RANELAGH AVENUE
REDCLIFFE ROAD
REEVES MEWS
RHEIDOL MEWS
RINGWOOD AVENUE
RODERICK ROAD
ROPEMAKERS FIELDS
ROYAL CRESCENT
ROYAL HILL
RUSSELL GARDENS MEWS
SETTLES STREET
SHELDON AVENUE
SOUTH END ROW
SOUTHWOOD LAWN ROAD
SOVEREIGN PARK
ST MARGARETS CRESCENT
ST OSWALDS PLACE
ST PETERS SQUARE
STAFFORD TERRACE
SUTHERLAND PLACE
SYDNEY STREET
THAMES BANK
THE HEXAGON
TREDEGAR SQUARE
TRINITY STREET
UPPER HAMPSTEAD WALK
WALPOLE GARDENS
WALPOLE STREET
WARWICK SQUARE
WELBECK WAY
WELLESLEY TERRACE
WELLINGTON STREET
WESTMORELAND PLACE
WHITFIELD STREET
WILFRED STREET
WILLOW BRIDGE ROAD
WILSON STREET
WINCHENDON ROAD
WINGATE ROAD

In [36]:
location_venues

,Street,Street Latitude,Street Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,ALBION SQUARE,-41.273758,173.289393,The Free House,-41.273340,173.287364,Bar
1,ALBION SQUARE,-41.273758,173.289393,The Indian Cafe,-41.273308,173.286530,Indian Restaurant
2,ALBION SQUARE,-41.273758,173.289393,Queen's Gardens,-41.273671,173.291383,Park
3,ALBION SQUARE,-41.273758,173.289393,Urban,-41.274355,173.286317,New American Restaurant
4,ALBION SQUARE,-41.273758,173.289393,The Bridge Street Collective,-41.272520,173.285517,Café
5,ALBION SQUARE,-41.273758,173.289393,Fish Stop,-41.276010,173.289592,Fish & Chips Shop
6,ALBION SQUARE,-41.273758,173.289393,Deville Cafe,-41.271941,173.285535,Beer Garden
7,ALBION SQUARE,-41.273758,173.289393,Mango,-41.274460,173.285345,Indian Restaurant
8,ALBION SQUARE,-41.273758,173.289393,Sprig & Fern,-41.274508,173.286527,Brewery
9,ALBION SQUARE,-41.273758,173.289393,Hopgood's,-41.274749,173.283831,Restaurant
10,ALBION SQUARE,-41.273758,173.289393,Fresh Choice,-41.272194,173.287218,Supermarket
11,ALBION SQUARE,-41.273758,173.289393,Burger Culture,-41.274750,173.284030,Burger Joint
12,ALBION SQUARE,-41.273758,173.289393,cod and lobster,-41.275203,173.283747,Seafood Restaurant
13,ALBION SQUARE,-41.273758,173.289393,The Vic Mac's Brew Bar,-41.274757,173.283914,Pub
14,ALBION SQUARE,-41.273758,173.289393,Columbus Coffee,-41.274759,173.285391,Coffee Shop
15,ALBION SQUARE,-41.273758,173.289393,Suter Art Gallery,-41.273665,173.291377,Art Gallery
16,ALBION SQUARE,-41.273758,173.289393,Lambretta's Cafe & Bar,-41.274372,173.284462,Café
17,ALBION SQUARE,-41.273758,173.289393,La Gourmandise,-41.274262,173.286211,French Restaurant
18,ALBION SQUARE,-41.273758,173.289393,Ford's Restaurant & Bar,-41.274637,173.283851,Restaurant
19,ALBION SQUARE,-41.273758,173.289393,Morrison Street Cafe,-41.274505,173.285461,Café
20,ALBION SQUARE,-41.273758,173.289393,Robert Harris Coffee,-41.272941,173.283876,Café
21,ALBION SQUARE,-41.273758,173.289393,7010,-41.270045,173.286959,Café
22,ALBION SQUARE,-41.273758,173.289393,The Nelson Provincial Museum,-41.274486,173.283911,Museum
23,ALBION SQUARE,-41.273758,173.289393,623 In the City,-41.274049,173.285020,Bar
24,ALBION SQUARE,-41.273758,173.289393,Maitai River,-41.274183,173.287921,River
25,ALBION SQUARE,-41.273758,173.289393,The Prince Albert,-41.276275,173.290930,Pub
26,ALBION SQUARE,-41.273758,173.289393,Farmers,-41.273398,173.284948,Department Store
27,ALBION SQUARE,-41.273758,173.289393,Starbucks,-41.273502,173.283919,Coffee Shop
28,ANSDELL TERRACE,51.499890,-0.189103,Whole Foods Market,51.501716,-0.190179,Grocery Store
29,ANSDELL TERRACE,51.499890,-0.189103,Dishoom,51.501301,-0.191170,Indian Restaurant
...,...,...,...,...,...,...,...
4493,WILFRED STREET,51.442178,0.372743,Fort Gardens,51.443255,0.377269,Park
4494,WILFRED STREET,51.442178,0.372743,The Rum Puncheon,51.444802,0.368413,Pub
4495,WILFRED STREET,51.442178,0.372743,Twin Dynasty,51.439467,0.369286,Asian Restaurant
4496,WILFRED STREET,51.442178,0.372743,Pocahontas Statue,51.443982,0.367972,Outdoor Sculpture
4497,WILFRED STREET,51.442178,0.372743,Tufail,51.438295,0.372233,Indian Restaurant
4498,WILFRED STREET,51.442178,0.372743,Gordon Promenade,51.444013,0.378485,Waterfront
4499,WILSON STREET,45.700486,-121.521875,Volcanic Bottle Shoppe,45.699861,-121.523811,Beer Bar
4500,WILSON STREET,45.700486,-121.521875,Hood River Taqueria,45.701220,-121.524817,Mexican Restaurant
4501,WILSON STREET,45.700486,-121.521875,The Mesquitery,45.700912,-121.523445,BBQ Joint
4502,WILSON STREET,45.700486,-121.521875,Farm Stand in the Gorge,45.702940,-121.523595,Farmers Market
4503,WILSON STREET,45.700486,-121.521875,10-Speed Coffee Bar,45.699810,-121.524812,Coffee Shop
4504,WILSON STREET,45.700486,-121.521875,El Puerto de Angeles,45.700693,-121.523866,Mexican Restaurant
4505,WILSON STREET,45.700486,-121.521875,Pine Street Bakery,45.702295,-121.523534,Bakery
4506,WILSON STREET,45.700486,-121.521875,Thai House,45.700809,-121.524923,Thai Restaurant
4507,WILSON STREET,45.700486,-121.521875,Dutch Bros. Coffee,45.697143,-121.523182,Coffee Shop
4508,WILSON STREET,45.700486,-121.521875,U.S. Bank ATM,45.700344,-121.523420,ATM
4509,WILSON STREET,45.700486,-121.521875,Lake Taco,45.703056,-121.524445,Mexican Restaurant
4510,WILSON STREET,45.700486,-121.521875,Walgreens,45.696236,-121.523056,Pharmacy
4511,WILSON STREET,45.700486,-121.521875,Redbox,45.696127,-121.523128,Video Store
4512,WILSON STREET,45.700486,-121.521875,Juanita's Marketa,45.700125,-121.524078,Grocery Store
4513,WILSON STREET,45.700486,-121.521875,Pine Street Kitchen,45.702330,-121.523392,English Restaurant
4514,WILSON STREET,45.700486,-121.521875,Monagon's Pancake House,45.699474,-121.524643,Breakfast Spot
4515,WILSON STREET,45.700486,-121.521875,Heights Ice Cream,45.701043,-121.524925,Ice Cream Shop
4516,WILSON STREET,45.700486,-121.521875,Vacasa Rentals: River Gorge Cabana,45.700451,-121.525352,Hotel
4517,WILSON STREET,45.700486,-121.521875,Shell,45.696831,-121.523032,Gas Station
4518,WILSON STREET,45.700486,-121.521875,Orchard House,45.701669,-121.526546,Food
4519,WINGATE ROAD,-29.922130,30.966309,Montclair mall,-29.923356,30.968443,Shopping Mall
4520,WINGATE ROAD,-29.922130,30.966309,KFC Montclaire,-29.923000,30.968600,Fried Chicken Joint
4521,WINGATE ROAD,-29.922130,30.966309,Steers,-29.924780,30.963414,Fast Food Restaurant
4522,WINGATE ROAD,-29.922130,30.966309,Debonairs Pizza,-29.924824,30.963346,Pizza Place

In [37]:
location_venues.groupby('Street').count()

,Street Latitude,Street Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Street,,,,,,
ALBION SQUARE,28,28,28,28,28,28
ANSDELL TERRACE,45,45,45,45,45,45
APPLEGARTH ROAD,4,4,4,4,4,4
BARONSMEAD ROAD,14,14,14,14,14,14
BEAUCLERC ROAD,6,6,6,6,6,6
BELVEDERE DRIVE,1,1,1,1,1,1
BICKENHALL STREET,64,64,64,64,64,64
BIRCHLANDS AVENUE,10,10,10,10,10,10
BRAMPTON GROVE,3,3,3,3,3,3
BRIARDALE GARDENS,5,5,5,5,5,5
BURBAGE ROAD,3,3,3,3,3,3
BURY WALK,15,15,15,15,15,15
CALLCOTT STREET,47,47,47,47,47,47
CAMPDEN HILL ROAD,48,48,48,48,48,48
CAMPION ROAD,3,3,3,3,3,3
CANNING PLACE,12,12,12,12,12,12
CARLTON GARDENS,60,60,60,60,60,60
CARLYLE COURT,1,1,1,1,1,1
CHALCOT SQUARE,51,51,51,51,51,51
CHARLES LANE,4,4,4,4,4,4
CHESTER CLOSE NORTH,22,22,22,22,22,22
CHEYNE COURT,11,11,11,11,11,11
CHEYNE ROW,58,58,58,58,58,58
CHISWICK MALL,7,7,7,7,7,7
CITY ROAD,28,28,28,28,28,28
CLARENDON STREET,32,32,32,32,32,32
CLONCURRY STREET,29,29,29,29,29,29
COLBECK MEWS,100,100,100,100,100,100
COLLEGE CRESCENT,17,17,17,17,17,17
CORNWALL TERRACE MEWS,49,49,49,49,49,49
...,...,...,...,...,...,...
RINGWOOD AVENUE,4,4,4,4,4,4
RODERICK ROAD,7,7,7,7,7,7
ROPEMAKERS FIELDS,24,24,24,24,24,24
ROYAL CRESCENT,23,23,23,23,23,23
RUSSELL GARDENS MEWS,25,25,25,25,25,25
SETTLES STREET,3,3,3,3,3,3
SHELDON AVENUE,6,6,6,6,6,6
SOUTH END ROW,48,48,48,48,48,48
SOUTHWOOD LAWN ROAD,34,34,34,34,34,34
SOVEREIGN PARK,4,4,4,4,4,4
ST OSWALDS PLACE,39,39,39,39,39,39
ST PETERS SQUARE,77,77,77,77,77,77
STAFFORD TERRACE,4,4,4,4,4,4
SUTHERLAND PLACE,8,8,8,8,8,8
SYDNEY STREET,3,3,3,3,3,3
THAMES BANK,4,4,4,4,4,4
THE HEXAGON,39,39,39,39,39,39
TREDEGAR SQUARE,33,33,33,33,33,33
TRINITY STREET,14,14,14,14,14,14
UPPER HAMPSTEAD WALK,57,57,57,57,57,57
WALPOLE GARDENS,9,9,9,9,9,9
WARWICK SQUARE,2,2,2,2,2,2
WELBECK WAY,3,3,3,3,3,3
WELLESLEY TERRACE,10,10,10,10,10,10
WELLINGTON STREET,84,84,84,84,84,84
WESTMORELAND PLACE,17,17,17,17,17,17
WHITFIELD STREET,89,89,89,89,89,89
WILFRED STREET,25,25,25,25,25,25
WILSON STREET,20,20,20,20,20,20
WINGATE ROAD,4,4,4,4,4,4

In [39]:
 # get the List of Unique Categories
print('There are {} uniques categories.'.format(len(location_venues['Venue Category'].unique())))

There are 349 uniques categories.

In [40]:
location_venues.shape

(4523, 7)

In [41]:
# one hot encoding
venues_onehot = pd.get_dummies(location_venues[['Venue Category']], prefix="", prefix_sep="")

# add street column back to dataframe
venues_onehot['Street'] = location_venues['Street'] 

# move street column to the first column
fixed_columns = [venues_onehot.columns[-1]] + list(venues_onehot.columns[:-1])

#fixed_columns
venues_onehot = venues_onehot[fixed_columns]

venues_onehot.head()

,Street,ATM,Accessories Store,Adult Boutique,Afghan Restaurant,African Restaurant,American Restaurant,Antique Shop,Arcade,Argentinian Restaurant,...,Vietnamese Restaurant,Warehouse Store,Waterfront,Weight Loss Center,Wine Bar,Wine Shop,Women's Store,Yoga Studio,Zoo,Zoo Exhibit
0,ALBION SQUARE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ALBION SQUARE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ALBION SQUARE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ALBION SQUARE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ALBION SQUARE,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
london_grouped = venues_onehot.groupby('Street').mean().reset_index()
london_grouped

,Street,ATM,Accessories Store,Adult Boutique,Afghan Restaurant,African Restaurant,American Restaurant,Antique Shop,Arcade,Argentinian Restaurant,...,Vietnamese Restaurant,Warehouse Store,Waterfront,Weight Loss Center,Wine Bar,Wine Shop,Women's Store,Yoga Studio,Zoo,Zoo Exhibit
0,ALBION SQUARE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
1,ANSDELL TERRACE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
2,APPLEGARTH ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
3,BARONSMEAD ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
4,BEAUCLERC ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
5,BELVEDERE DRIVE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
6,BICKENHALL STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.015625,0.0,0.015625,0.015625,0.0,0.0
7,BIRCHLANDS AVENUE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
8,BRAMPTON GROVE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
9,BRIARDALE GARDENS,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
10,BURBAGE ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
11,BURY WALK,0.00,0.000000,0.0,0.0,0.0,0.066667,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
12,CALLCOTT STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.021277,0.0,0.000000,0.042553,0.0,0.0
13,CAMPDEN HILL ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.020833,0.0,0.000000,0.041667,0.0,0.0
14,CAMPION ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
15,CANNING PLACE,0.00,0.000000,0.0,0.0,0.0,0.083333,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.083333,0.000000,0.0,0.0
16,CARLTON GARDENS,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.033333,0.0,0.000000,0.000000,0.0,0.0
17,CARLYLE COURT,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
18,CHALCOT SQUARE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.019608,0.0,0.0
19,CHARLES LANE,0.00,0.000000,0.0,0.0,0.0,0.250000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
20,CHESTER CLOSE NORTH,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
21,CHEYNE COURT,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
22,CHEYNE ROW,0.00,0.017241,0.0,0.0,0.0,0.017241,0.0,0.0,0.000000,...,0.017241,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.017241,0.0,0.0
23,CHISWICK MALL,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
24,CITY ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
25,CLARENDON STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
26,CLONCURRY STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.034483,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
27,COLBECK MEWS,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
28,COLLEGE CRESCENT,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
29,CORNWALL TERRACE MEWS,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,RINGWOOD AVENUE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
118,RODERICK ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
119,ROPEMAKERS FIELDS,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
120,ROYAL CRESCENT,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
121,RUSSELL GARDENS MEWS,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
122,SETTLES STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
123,SHELDON AVENUE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
124,SOUTH END ROW,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
125,SOUTHWOOD LAWN ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
126,SOVEREIGN PARK,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
127,ST OSWALDS PLACE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
128,ST PETERS SQUARE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.025974,0.0,0.000000,0.000000,0.0,0.0
129,STAFFORD TERRACE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
130,SUTHERLAND PLACE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
131,SYDNEY STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
132,THAMES BANK,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
133,THE HEXAGON,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.025641,0.0,0.000000,0.000000,0.0,0.0
134,TREDEGAR SQUARE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
135,TRINITY STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
136,UPPER HAMPSTEAD WALK,0.00,0.000000,0.0,0.0,0.0,0.017544,0.0,0.0,0.017544,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
137,WALPOLE GARDENS,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
138,WARWICK SQUARE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
139,WELBECK WAY,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.333333,0.000000,0.0,0.000000,0.0,0.000000,0.333333,0.0,0.0
140,WELLESLEY TERRACE,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
141,WELLINGTON STREET,0.00,0.000000,0.0,0.0,0.0,0.011905,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
142,WESTMORELAND PLACE,0.00,0.000000,0.0,0.0,0.0,0.058824,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
143,WHITFIELD STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.022472,0.0,0.000000,0.000000,0.0,0.0
144,WILFRED STREET,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.040000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
145,WILSON STREET,0.05,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0
146,WINGATE ROAD,0.00,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0

In [43]:
london_grouped.shape

(147, 350)

In [44]:
# What are the top 5 venues/facilities nearby profitable real estate investments?#

num_top_venues = 5

for hood in london_grouped['Street']:
    print("----"+hood+"----")
    temp = london_grouped[london_grouped['Street'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----ALBION SQUARE----
               venue  freq
0               Café  0.18
1  Indian Restaurant  0.07
2        Coffee Shop  0.07
3                Pub  0.07
4                Bar  0.07


----ANSDELL TERRACE----
                venue  freq
0           Juice Bar  0.09
1               Hotel  0.07
2          Restaurant  0.07
3   Indian Restaurant  0.07
4  Italian Restaurant  0.04


----APPLEGARTH ROAD----
                   venue  freq
0                 Casino  0.25
1                    Pub  0.25
2              Nightclub  0.25
3         Sandwich Place  0.25
4  Outdoors & Recreation  0.00


----BARONSMEAD ROAD----
               venue  freq
0  Food & Drink Shop  0.14
1     Farmers Market  0.07
2               Park  0.07
3      Movie Theater  0.07
4               Café  0.07


----BEAUCLERC ROAD----
             venue  freq
0       Hobby Shop  0.17
1        Speakeasy  0.17
2              Spa  0.17
3  Harbor / Marina  0.17
4      Pizza Place  0.17


----BELVEDERE DRIVE----
                   venue  freq
0             Campground   1.0
1                    ATM   0.0
2       Recording Studio   0.0
3  Performing Arts Venue   0.0
4            Pastry Shop   0.0


----BICKENHALL STREET----
                venue  freq
0         Coffee Shop  0.06
1           Gastropub  0.05
2  Italian Restaurant  0.05
3          Restaurant  0.05
4       Movie Theater  0.03


----BIRCHLANDS AVENUE----
                venue  freq
0                 Pub   0.2
1   French Restaurant   0.1
2         Pizza Place   0.1
3  Chinese Restaurant   0.1
4       Train Station   0.1


----BRAMPTON GROVE----
                        venue  freq
0                Home Service  0.33
1                Food Service  0.33
2  Construction & Landscaping  0.33
3        Outdoor Supply Store  0.00
4       Performing Arts Venue  0.00


----BRIARDALE GARDENS----
                 venue  freq
0  Sporting Goods Shop   0.2
1       Breakfast Spot   0.2
2          Coffee Shop   0.2
3     Sushi Restaurant   0.2
4        Grocery Store   0.2


----BURBAGE ROAD----
                venue  freq
0                 Bar  0.33
1       Grocery Store  0.33
2  Athletics & Sports  0.33
3                 ATM  0.00
4  Persian Restaurant  0.00


----BURY WALK----
                  venue  freq
0           Supermarket  0.20
1    English Restaurant  0.13
2   Rental Car Location  0.07
3                   Pub  0.07
4  Fast Food Restaurant  0.07


----CALLCOTT STREET----
               venue  freq
0                Pub  0.13
1               Park  0.06
2  Indian Restaurant  0.04
3        Yoga Studio  0.04
4     Ice Cream Shop  0.04


----CAMPDEN HILL ROAD----
               venue  freq
0                Pub  0.10
1  Indian Restaurant  0.04
2             Hostel  0.04
3        Coffee Shop  0.04
4             Bakery  0.04


----CAMPION ROAD----
                  venue  freq
0                   Pub  0.33
1                 Trail  0.33
2                  Food  0.33
3                   ATM  0.00
4  Outdoor Supply Store  0.00


----CANNING PLACE----
                venue  freq
0      Clothing Store  0.25
1    Stationery Store  0.08
2   Convenience Store  0.08
3                 Gym  0.08
4  Chinese Restaurant  0.08


----CARLTON GARDENS----
                venue  freq
0  Italian Restaurant  0.25
1        Dessert Shop  0.05
2      Ice Cream Shop  0.05
3         Pizza Place  0.03
4         Coffee Shop  0.03


----CARLYLE COURT----
                  venue  freq
0                  Farm   1.0
1                   ATM   0.0
2  Outdoor Supply Store   0.0
3           Pastry Shop   0.0
4               Parking   0.0


----CHALCOT SQUARE----
                venue  freq
0                Café  0.08
1  Italian Restaurant  0.08
2                 Pub  0.06
3         Coffee Shop  0.06
4                 Bar  0.06


----CHARLES LANE----
                 venue  freq
0  American Restaurant  0.25
1   Photography Studio  0.25
2                  Spa  0.25
3          Dry Cleaner  0.25
4                  ATM  0.00


----CHESTER CLOSE NORTH----
                    venue  freq
0                  Garden  0.14
1                    Park  0.09
2            Cocktail Bar  0.09
3  Furniture / Home Store  0.05
4                   Hotel  0.05


----CHEYNE COURT----
                  venue  freq
0  Outdoor Supply Store  0.09
1                 Hotel  0.09
2              Pharmacy  0.09
3                Bakery  0.09
4             Gift Shop  0.09


----CHEYNE ROW----
                venue  freq
0                Café  0.07
1                 Pub  0.05
2  Italian Restaurant  0.05
3           Juice Bar  0.03
4              Bakery  0.03


----CHISWICK MALL----
                  venue  freq
0                   Pub  0.43
1               Brewery  0.14
2             Gift Shop  0.14
3            Art Museum  0.14
4  Gym / Fitness Center  0.14


----CITY ROAD----
            venue  freq
0             Pub  0.25
1     Coffee Shop  0.11
2    Dance Studio  0.07
3     Art Gallery  0.07
4  Sandwich Place  0.07


----CLARENDON STREET----
                venue  freq
0         Pizza Place  0.09
1  Italian Restaurant  0.06
2        Liquor Store  0.06
3          Restaurant  0.03
4       Fishing Store  0.03


----CLONCURRY STREET----
                 venue  freq
0                 Café  0.14
1                 Park  0.10
2          Coffee Shop  0.07
3                  Bar  0.03
4  Sporting Goods Shop  0.03


----COLBECK MEWS----
         venue  freq
0        Hotel  0.22
1          Pub  0.08
2       Garden  0.05
3         Café  0.04
4  Coffee Shop  0.04


----COLLEGE CRESCENT----
                    venue  freq
0       Indian Restaurant  0.06
1       Health Food Store  0.06
2          Shipping Store  0.06
3                Pharmacy  0.06
4  Thrift / Vintage Store  0.06


----CORNWALL TERRACE MEWS----
             venue  freq
0           Garden  0.08
1      Coffee Shop  0.08
2             Café  0.08
3             Park  0.06
4  Thai Restaurant  0.04


----COURT LANE GARDENS----
                venue  freq
0                 Pub  0.14
1       Grocery Store  0.14
2  Italian Restaurant  0.07
3  Athletics & Sports  0.07
4         Pizza Place  0.07


----CRESCENT GROVE----
               venue  freq
0              Hotel   1.0
1                ATM   0.0
2  Outdoor Sculpture   0.0
3        Pastry Shop   0.0
4            Parking   0.0


----DALEBURY ROAD----
                       venue  freq
0          Indian Restaurant   0.1
1                       Café   0.1
2              Grocery Store   0.1
3  Middle Eastern Restaurant   0.1
4                Coffee Shop   0.1


----DEWHURST ROAD----
                venue  freq
0                 Pub  0.50
1       Grocery Store  0.25
2  Weight Loss Center  0.25
3   Outdoor Sculpture  0.00
4         Pastry Shop  0.00


----DORIA ROAD----
                venue  freq
0  Italian Restaurant  0.10
1                Café  0.08
2                 Pub  0.07
3              Bakery  0.07
4         Coffee Shop  0.07


----DOWNSHIRE HILL----
                venue  freq
0                Café  0.16
1                 Pub  0.13
2  Italian Restaurant  0.05
3         Coffee Shop  0.05
4              Museum  0.05


----DUCHESS WALK----
                venue  freq
0         Coffee Shop  0.07
1        Cocktail Bar  0.05
2                 Pub  0.04
3  Italian Restaurant  0.04
4                 Bar  0.04


----ECCLESTON SQUARE MEWS----
                venue  freq
0               Hotel  0.11
1                 Pub  0.09
2                Café  0.05
3  Italian Restaurant  0.05
4      Sandwich Place  0.05


----EGBERT STREET----
                  venue  freq
0                   Gym   0.2
1                 Trail   0.2
2   American Restaurant   0.2
3           Dry Cleaner   0.2
4  Gym / Fitness Center   0.2


----EGERTON PLACE----
               venue  freq
0  Indian Restaurant  0.14
1               Café  0.14
2                Bar  0.14
3    Thai Restaurant  0.14
4     Sandwich Place  0.14


----ELM PARK ROAD----
              venue  freq
0              Café  0.18
1       Supermarket  0.18
2              Park  0.09
3       Bus Station  0.09
4  Stationery Store  0.09


----FLORAL STREET----
                           venue  freq
0                  Jewelry Store  0.09
1                    Coffee Shop  0.09
2                     Donut Shop  0.09
3                            Spa  0.05
4  Vegetarian / Vegan Restaurant  0.05


----FRANK DIXON WAY----
                  venue  freq
0           Rugby Pitch   0.2
1                  Café   0.2
2                  Farm   0.2
3                  Park   0.2
4  Gym / Fitness Center   0.2


----FULTON MEWS----
                venue  freq
0               Hotel  0.16
1                 Pub  0.08
2         Coffee Shop  0.07
3  Chinese Restaurant  0.06
4                Café  0.06


----GERARD ROAD----
               venue  freq
0               Park   0.2
1        Sports Club   0.1
2        Pizza Place   0.1
3     Soccer Stadium   0.1
4  Fish & Chips Shop   0.1


----GERRARD ROAD----
               venue  freq
0  Indian Restaurant  0.25
1                Pub  0.25
2           Bus Stop  0.25
3        Pizza Place  0.25
4       Noodle House  0.00


----GIRDLERS ROAD----
                venue  freq
0                 Pub  0.12
1           Gastropub  0.06
2  Italian Restaurant  0.06
3   Convention Center  0.06
4      Sandwich Place  0.06


----GORDON PLACE----
                     venue  freq
0               Steakhouse  0.33
1                   Resort  0.33
2              Pizza Place  0.33
3                Nightclub  0.00
4  New American Restaurant  0.00


----GRAFTON SQUARE----
          venue  freq
0           Pub  0.09
1    Restaurant  0.05
2          Café  0.05
3  Burger Joint  0.05
4           Bar  0.05


----GRAHAM TERRACE----
                   venue  freq
0      Indian Restaurant   0.5
1                   Café   0.5
2       Recording Studio   0.0
3  Performing Arts Venue   0.0
4            Pastry Shop   0.0


----HARMAN DRIVE----
                  venue  freq
0     Convenience Store  0.33
1        Shopping Plaza  0.33
2       Photography Lab  0.33
3                   ATM  0.00
4  Outdoor Supply Store  0.00


----HARRIS STREET----
                   venue  freq
0            Auto Garage   0.5
1          Garden Center   0.5
2                    ATM   0.0
3   Outdoor Supply Store   0.0
4  Performing Arts Venue   0.0


----HAVANNAH STREET----
                venue  freq
0  Italian Restaurant  0.13
1                 Bar  0.10
2         Music Venue  0.07
3         Supermarket  0.07
4             Brewery  0.07


----HAZLEWELL ROAD----
                  venue  freq
0   Japanese Restaurant  0.29
1  Gym / Fitness Center  0.14
2                  Café  0.14
3          Tennis Court  0.14
4             Gastropub  0.14


----HEREFORD MEWS----
               venue  freq
0                Pub  0.09
1               Café  0.06
2  Indian Restaurant  0.04
3              Hotel  0.04
4        Pizza Place  0.04


----HERONDALE AVENUE----
               venue  freq
0  French Restaurant  0.50
1               Café  0.25
2      Grocery Store  0.25
3                ATM  0.00
4            Parking  0.00


----HIGHGATE HIGH STREET----
         venue  freq
0          Pub  0.33
1  Coffee Shop  0.10
2       Bakery  0.10
3  Pizza Place  0.05
4         Park  0.05


----HIGHWOOD HILL----
                   venue  freq
0     Athletics & Sports   1.0
1                    ATM   0.0
2     Persian Restaurant   0.0
3  Performing Arts Venue   0.0
4            Pastry Shop   0.0


----HILLGATE PLACE----
                   venue  freq
0                    Gym  0.67
1                 Bakery  0.33
2  Outdoors & Recreation  0.00
3           Perfume Shop  0.00
4  Performing Arts Venue  0.00


----HOLLYCROFT AVENUE----
           venue  freq
0            Pub  0.33
1  Grocery Store  0.17
2       Pharmacy  0.17
3          Hotel  0.17
4            Gym  0.17


----HOLLYWOOD MEWS----
                  venue  freq
0                Garden  0.07
1                Bakery  0.07
2  Gym / Fitness Center  0.07
3                   Pub  0.07
4    Italian Restaurant  0.07


----HONEYWELL ROAD----
                     venue  freq
0                      Pub  0.21
1                     Café  0.14
2              Pizza Place  0.07
3               Steakhouse  0.07
4  Health & Beauty Service  0.07


----HORTENSIA ROAD----
                venue  freq
0  Italian Restaurant  0.10
1                 Pub  0.07
2      Sandwich Place  0.07
3          Restaurant  0.07
4                Café  0.05


----HOXTON SQUARE----
          venue  freq
0   Coffee Shop  0.08
1          Café  0.07
2           Bar  0.05
3  Cocktail Bar  0.05
4         Hotel  0.04


----JACKSONS LANE----
                venue  freq
0                 Pub  0.35
1       Historic Site  0.06
2       Deli / Bodega  0.06
3  Seafood Restaurant  0.06
4                Café  0.06


----JOHN STREET----
                 venue  freq
0             Bus Stop  0.08
1   Chinese Restaurant  0.08
2  Austrian Restaurant  0.08
3            Jazz Club  0.04
4                Hotel  0.04


----KINNERTON STREET----
                venue  freq
0               Hotel  0.13
1  Italian Restaurant  0.05
2                Café  0.05
3          Restaurant  0.04
4               Plaza  0.04


----KNARESBOROUGH PLACE----
                venue  freq
0               Hotel  0.28
1                 Pub  0.07
2  Italian Restaurant  0.06
3         Coffee Shop  0.04
4  Chinese Restaurant  0.04


----KNOX STREET----
           venue  freq
0    Zoo Exhibit  0.25
1    Bridal Shop  0.25
2       Building  0.25
3   Intersection  0.25
4  Women's Store  0.00


----LANCASTER MEWS----
                venue  freq
0                Café  0.14
1                 Pub  0.07
2         Coffee Shop  0.05
3  Italian Restaurant  0.05
4              Bakery  0.04


----LANSDOWNE ROAD----
         venue  freq
0         Café  0.15
1        Hotel  0.15
2          Pub  0.07
3    Gastropub  0.07
4  Rugby Pitch  0.04


----LATIMER INDUSTRIAL ESTATE----
                  venue  freq
0  Gym / Fitness Center  0.25
1                  Park  0.17
2            Playground  0.08
3          Soccer Field  0.08
4       Thai Restaurant  0.08


----LAXTON PLACE----
                venue  freq
0         Coffee Shop  0.09
1   Indian Restaurant  0.08
2                 Pub  0.08
3               Plaza  0.04
4  Italian Restaurant  0.03


----LINCOLN AVENUE----
                venue  freq
0  Turkish Restaurant  0.14
1   Korean Restaurant  0.07
2                Café  0.07
3              Bakery  0.07
4  Chinese Restaurant  0.05


----LINGFIELD ROAD----
                        venue  freq
0               Grocery Store   0.2
1                         Pub   0.2
2  Construction & Landscaping   0.2
3                      Bakery   0.2
4                        Park   0.2


----LISSON STREET----
            venue  freq
0     Coffee Shop  0.07
1  Sandwich Place  0.07
2             Pub  0.07
3            Café  0.05
4           Hotel  0.05


----LIVERPOOL GROVE----
                  venue  freq
0                  Café  0.09
1              Bus Stop  0.06
2                   Pub  0.06
3  Fast Food Restaurant  0.06
4              Pharmacy  0.06


----LONGWOOD DRIVE----
                       venue  freq
0                   Pharmacy  0.17
1  Middle Eastern Restaurant  0.08
2       Fast Food Restaurant  0.08
3         Chinese Restaurant  0.08
4                       Food  0.08


----LONSDALE SQUARE----
                      venue  freq
0                       Pub  0.08
1         French Restaurant  0.06
2                    Bakery  0.06
3  Mediterranean Restaurant  0.06
4    Furniture / Home Store  0.05


----MIDDLESEX PASSAGE----
                  venue  freq
0    Italian Restaurant  0.07
1  Gym / Fitness Center  0.05
2              Wine Bar  0.05
3                Garden  0.04
4                  Café  0.04


----MONTPELIER AVENUE----
            venue  freq
0             Pub   0.2
1           Hotel   0.2
2  Discount Store   0.2
3     Supermarket   0.2
4   Grocery Store   0.2


----MONTPELIER WALK----
                 venue  freq
0   Italian Restaurant  0.13
1                 Café  0.12
2                Hotel  0.06
3             Boutique  0.04
4  Japanese Restaurant  0.04


----MULTON ROAD----
                        venue  freq
0           Indian Restaurant  0.33
1  Construction & Landscaping  0.33
2               Grocery Store  0.33
3                 Opera House  0.00
4        Pakistani Restaurant  0.00


----MUNDEN STREET----
               venue  freq
0               Café  0.12
1              Hotel  0.10
2  Indian Restaurant  0.08
3                Pub  0.08
4           Platform  0.06


----NORTH CIRCULAR ROAD----
                    venue  freq
0             Coffee Shop   0.1
1          Shopping Plaza   0.1
2  Furniture / Home Store   0.1
3                   Diner   0.1
4         Warehouse Store   0.1


----NOTTINGHAM STREET----
                    venue  freq
0            Cupcake Shop   0.2
1  Argentinian Restaurant   0.2
2            Dessert Shop   0.2
3       Other Repair Shop   0.2
4       Health Food Store   0.2


----OAKLEY STREET----
            venue  freq
0   Deli / Bodega  0.13
1  Clothing Store  0.13
2     Coffee Shop  0.07
3      Donut Shop  0.07
4        Pharmacy  0.07


----OAKWOOD COURT----
         venue  freq
0  Golf Course   0.2
1         Food   0.2
2  Pizza Place   0.2
3  Video Store   0.2
4      Dog Run   0.2


----OBSERVATORY GARDENS----
            venue  freq
0            Café  0.07
1  Clothing Store  0.05
2             Pub  0.05
3      Restaurant  0.04
4       Juice Bar  0.04


----OLD COURT PLACE----
        venue  freq
0       Hotel  0.08
1   Juice Bar  0.07
2  Restaurant  0.05
3      Garden  0.05
4      Bakery  0.03


----ONSLOW MEWS WEST----
                venue  freq
0               Hotel  0.10
1  Italian Restaurant  0.06
2              Bakery  0.05
3              Garden  0.04
4      Sandwich Place  0.04


----PALACE PLACE----
                     venue  freq
0  Health & Beauty Service   1.0
1                      ATM   0.0
2             Perfume Shop   0.0
3              Pastry Shop   0.0
4                  Parking   0.0


----PANTON STREET----
                  venue  freq
0           Golf Course  0.67
1          Home Service  0.33
2                   ATM  0.00
3  Outdoor Supply Store  0.00
4           Pastry Shop  0.00


----PARK LANE----
                  venue  freq
0    Mexican Restaurant  0.07
1  Fast Food Restaurant  0.07
2             Nightclub  0.05
3           Pizza Place  0.05
4            Shoe Store  0.03


----PARKE ROAD----
                   venue  freq
0               Gym Pool  0.33
1         Breakfast Spot  0.33
2                   Lake  0.33
3                    ATM  0.00
4  Outdoors & Recreation  0.00


----PARKFIELDS----
             venue  freq
0    Historic Site   0.4
1  Harbor / Marina   0.2
2            Hotel   0.2
3      Supermarket   0.2
4              ATM   0.0


----PARTHENIA ROAD----
           venue  freq
0    Coffee Shop  0.13
1            Pub  0.11
2  Grocery Store  0.11
3           Café  0.08
4   Climbing Gym  0.05


----PAVILION ROAD----
                     venue  freq
0                     Café   0.5
1            Grocery Store   0.5
2  New American Restaurant   0.0
3    Performing Arts Venue   0.0
4              Pastry Shop   0.0


----PEMBRIDGE MEWS----
                venue  freq
0                 Pub  0.05
1  Italian Restaurant  0.05
2          Restaurant  0.04
3              Garden  0.03
4  Persian Restaurant  0.03


----PEMBRIDGE ROAD----
                        venue  freq
0           Convenience Store  0.33
1  Construction & Landscaping  0.33
2                Soccer Field  0.33
3                         ATM  0.00
4        Pakistani Restaurant  0.00


----PEMBROKE STUDIOS----
                venue  freq
0                Café  0.11
1               Hotel  0.10
2                 Pub  0.10
3         Supermarket  0.05
4  Persian Restaurant  0.05


----PENCOMBE MEWS----
                venue  freq
0  Italian Restaurant  0.09
1                 Pub  0.06
2                Café  0.04
3      Clothing Store  0.04
4         Coffee Shop  0.04



In [45]:
# Define a function to return the most common venues/facilities nearby real estate investments#

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [46]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Street']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [47]:
# create a new dataframe
venues_sorted = pd.DataFrame(columns=columns)
venues_sorted['Street'] = london_grouped['Street']

for ind in np.arange(london_grouped.shape[0]):
    venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

In [48]:
venues_sorted.head()

,Street,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,ALBION SQUARE,Café,Indian Restaurant,Bar,Coffee Shop,Restaurant,Pub,Fish & Chips Shop,Supermarket,Burger Joint,Museum
1,ANSDELL TERRACE,Juice Bar,Indian Restaurant,Hotel,Restaurant,Pub,Bakery,Clothing Store,Italian Restaurant,Burger Joint,Supermarket
2,APPLEGARTH ROAD,Pub,Nightclub,Sandwich Place,Casino,Flower Shop,Farm,Escape Room,Ethiopian Restaurant,Event Space,Exhibit
3,BARONSMEAD ROAD,Food & Drink Shop,Pub,Thai Restaurant,Pizza Place,Restaurant,Coffee Shop,Park,Farmers Market,Café,Nature Preserve
4,BEAUCLERC ROAD,Speakeasy,Spa,Pizza Place,Hobby Shop,Automotive Shop,Harbor / Marina,Fast Food Restaurant,Ethiopian Restaurant,Event Space,Exhibit

In [49]:
venues_sorted.shape

(147, 11)

In [50]:
london_grouped.shape

(147, 350)

In [51]:
london_grouped=df

In [52]:
#Distribute in 5 Clusters

# set number of clusters
kclusters = 5

london_grouped_clustering = london_grouped.drop('Street', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:50]

array([0, 2, 1, 2, 3, 0, 3, 1, 1, 0, 2, 2, 0, 0, 3, 3, 0, 2, 1, 0, 4, 4,
       2, 0, 0, 1, 2, 4, 0, 1, 2, 3, 2, 3, 3, 4, 2, 2, 3, 1, 0, 3, 4, 1,
       4, 1, 1, 4, 1, 1], dtype=int32)

In [53]:
#Dataframe to include Clusters

london_grouped_clustering=df
london_grouped_clustering.head()

              Street  Avg_Price   Latitude   Longitude
196    ALBION SQUARE  2450000.0 -41.273758  173.289393
390      ANHALT ROAD  2435000.0  29.805547  -98.475534
405  ANSDELL TERRACE  2250000.0  51.499890   -0.189103
422  APPLEGARTH ROAD  2400000.0  53.748654   -0.326670
856  BARONSMEAD ROAD  2375000.0  51.477315   -0.239457

In [54]:
london_grouped_clustering.shape

(161, 4)

In [55]:
df.shape

(161, 4)

In [56]:
london_grouped_clustering.dtypes

Street        object
Avg_Price    float64
Latitude     float64
Longitude    float64
dtype: object

In [57]:
df.dtypes

Street        object
Avg_Price    float64
Latitude     float64
Longitude    float64
dtype: object

In [58]:
# add clustering labels
london_grouped_clustering['Cluster Labels'] = kmeans.labels_

# merge london_grouped with london_data to add latitude/longitude for each neighborhood
london_grouped_clustering = london_grouped_clustering.join(venues_sorted.set_index('Street'), on='Street')

london_grouped_clustering.head(30) # check the last columns!

,Street,Avg_Price,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
196,ALBION SQUARE,2.450000e+06,-41.273758,173.289393,0,Café,Indian Restaurant,Bar,Coffee Shop,Restaurant,Pub,Fish & Chips Shop,Supermarket,Burger Joint,Museum
390,ANHALT ROAD,2.435000e+06,29.805547,-98.475534,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,ANSDELL TERRACE,2.250000e+06,51.499890,-0.189103,1,Juice Bar,Indian Restaurant,Hotel,Restaurant,Pub,Bakery,Clothing Store,Italian Restaurant,Burger Joint,Supermarket
422,APPLEGARTH ROAD,2.400000e+06,53.748654,-0.326670,2,Pub,Nightclub,Sandwich Place,Casino,Flower Shop,Farm,Escape Room,Ethiopian Restaurant,Event Space,Exhibit
856,BARONSMEAD ROAD,2.375000e+06,51.477315,-0.239457,3,Food & Drink Shop,Pub,Thai Restaurant,Pizza Place,Restaurant,Coffee Shop,Park,Farmers Market,Café,Nature Preserve
982,BEAUCLERC ROAD,2.480000e+06,30.211452,-81.617981,0,Speakeasy,Spa,Pizza Place,Hobby Shop,Automotive Shop,Harbor / Marina,Fast Food Restaurant,Ethiopian Restaurant,Event Space,Exhibit
1103,BELVEDERE DRIVE,2.340000e+06,44.707562,-63.545599,3,Campground,Zoo Exhibit,Filipino Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant,Farm,Farmers Market,Fast Food Restaurant
1216,BICKENHALL STREET,2.208500e+06,51.521201,-0.158908,1,Coffee Shop,Gastropub,Restaurant,Italian Restaurant,Hotel,Bakery,Garden,Greek Restaurant,Pizza Place,Bar
1254,BIRCHLANDS AVENUE,2.217000e+06,51.448394,-0.160468,1,Pub,Brewery,Coffee Shop,French Restaurant,Bakery,Train Station,Lake,Chinese Restaurant,Pizza Place,Dance Studio
1554,BRAMPTON GROVE,2.456875e+06,51.589961,-0.318525,0,Food Service,Construction & Landscaping,Home Service,Filipino Restaurant,Ethiopian Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant,Farm
1633,BRIARDALE GARDENS,2.397132e+06,51.560175,-0.195431,2,Breakfast Spot,Sporting Goods Shop,Grocery Store,Coffee Shop,Sushi Restaurant,Filipino Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant
1798,BROOKWAY,2.400000e+06,45.432185,-122.802812,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1915,BURBAGE ROAD,2.445000e+06,52.538507,-1.353674,0,Grocery Store,Athletics & Sports,Bar,Fast Food Restaurant,Escape Room,Ethiopian Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant
1981,BURY WALK,2.492500e+06,52.145529,-0.423593,0,Supermarket,English Restaurant,Dry Cleaner,Fast Food Restaurant,Gym,Café,Hardware Store,Coffee Shop,Park,Rental Car Location
2069,CALLCOTT STREET,2.375000e+06,51.508350,-0.198328,3,Pub,Park,Indian Restaurant,Yoga Studio,Hotel,Ice Cream Shop,English Restaurant,Clothing Store,Thai Restaurant,Gastropub
2130,CAMPDEN HILL ROAD,2.379653e+06,51.506352,-0.198853,3,Pub,Indian Restaurant,Hotel,Bakery,Ice Cream Shop,Park,Coffee Shop,Hostel,Yoga Studio,Breakfast Spot
2137,CAMPION ROAD,2.461000e+06,43.623321,-70.236225,0,Pub,Trail,Food,Farmers Market,Escape Room,Ethiopian Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant
2159,CANNING PLACE,2.425000e+06,52.641027,-1.135223,2,Clothing Store,Basketball Court,Women's Store,Convenience Store,Electronics Store,American Restaurant,Stationery Store,Gym,Department Store,Chinese Restaurant
2226,CARLISLE ROAD,2.200000e+06,43.399438,-79.973215,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2231,CARLTON GARDENS,2.483500e+06,-37.801943,144.971970,0,Italian Restaurant,Dessert Shop,Ice Cream Shop,Deli / Bodega,Hotel,Wine Bar,Convenience Store,Coffee Shop,Lebanese Restaurant,Japanese Restaurant
2243,CARLYLE COURT,2.300000e+06,32.972701,-97.173392,4,Farm,Zoo Exhibit,Filipino Restaurant,Ethiopian Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant,Farmers Market,Fast Food Restaurant
2407,CHALCOT SQUARE,2.286679e+06,51.541088,-0.155928,4,Café,Italian Restaurant,Coffee Shop,Pub,Bar,Park,French Restaurant,Portuguese Restaurant,Bookstore,Gourmet Shop
2485,CHARLES LANE,2.414000e+06,40.257626,-75.093891,2,Spa,Dry Cleaner,American Restaurant,Photography Studio,Zoo Exhibit,Fast Food Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant
2563,CHELSEA CRESCENT,2.495000e+06,34.522443,-85.443891,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2607,CHESTER CLOSE NORTH,2.450000e+06,51.529205,-0.145081,0,Garden,Cocktail Bar,Park,Hotel,Beer Bar,Lounge,Performing Arts Venue,Bar,Mexican Restaurant,Furniture / Home Store
2639,CHEYNE COURT,2.250000e+06,52.035905,0.727612,1,Bookstore,Pharmacy,Hotel,Gift Shop,Outdoor Supply Store,Pizza Place,Bakery,Department Store,Coffee Shop,Grocery Store
2642,CHEYNE ROW,2.410000e+06,51.483717,-0.169603,2,Café,Pub,Italian Restaurant,Juice Bar,Gym / Fitness Center,Furniture / Home Store,Pizza Place,Bakery,Burger Joint,Nightclub
2687,CHISWICK MALL,2.287500e+06,51.487994,-0.246605,4,Pub,Brewery,Gym / Fitness Center,Gift Shop,Art Museum,Filipino Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant
2762,CITY ROAD,2.468340e+06,51.529697,-0.097763,0,Pub,Coffee Shop,Dance Studio,Sandwich Place,Art Gallery,Gym Pool,Fish & Chips Shop,Canal,Canal Lock,Seafood Restaurant
2809,CLARENDON STREET,2.250000e+06,42.284961,-71.345534,1,Pizza Place,Liquor Store,Italian Restaurant,Greek Restaurant,Breakfast Spot,Brewery,Platform,Food & Drink Shop,Fishing Store,Music Store

In [59]:
# Create Map

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(london_grouped_clustering['Latitude'], london_grouped_clustering['Longitude'], london_grouped_clustering['Street'], london_grouped_clustering['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

NameError: name 'folium' is not defined

In [60]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 0, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

,Avg_Price,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
196,2450000.0,Café,Indian Restaurant,Bar,Coffee Shop,Restaurant,Pub,Fish & Chips Shop,Supermarket,Burger Joint,Museum
982,2480000.0,Speakeasy,Spa,Pizza Place,Hobby Shop,Automotive Shop,Harbor / Marina,Fast Food Restaurant,Ethiopian Restaurant,Event Space,Exhibit
1554,2456875.0,Food Service,Construction & Landscaping,Home Service,Filipino Restaurant,Ethiopian Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant,Farm
1915,2445000.0,Grocery Store,Athletics & Sports,Bar,Fast Food Restaurant,Escape Room,Ethiopian Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant
1981,2492500.0,Supermarket,English Restaurant,Dry Cleaner,Fast Food Restaurant,Gym,Café,Hardware Store,Coffee Shop,Park,Rental Car Location

In [61]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 1, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

,Avg_Price,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
405,2250000.0,Juice Bar,Indian Restaurant,Hotel,Restaurant,Pub,Bakery,Clothing Store,Italian Restaurant,Burger Joint,Supermarket
1216,2208500.0,Coffee Shop,Gastropub,Restaurant,Italian Restaurant,Hotel,Bakery,Garden,Greek Restaurant,Pizza Place,Bar
1254,2217000.0,Pub,Brewery,Coffee Shop,French Restaurant,Bakery,Train Station,Lake,Chinese Restaurant,Pizza Place,Dance Studio
2226,2200000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2639,2250000.0,Bookstore,Pharmacy,Hotel,Gift Shop,Outdoor Supply Store,Pizza Place,Bakery,Department Store,Coffee Shop,Grocery Store

In [62]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 2, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

,Avg_Price,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
390,2435000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,2400000.0,Pub,Nightclub,Sandwich Place,Casino,Flower Shop,Farm,Escape Room,Ethiopian Restaurant,Event Space,Exhibit
1633,2397132.0,Breakfast Spot,Sporting Goods Shop,Grocery Store,Coffee Shop,Sushi Restaurant,Filipino Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant
1798,2400000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,2425000.0,Clothing Store,Basketball Court,Women's Store,Convenience Store,Electronics Store,American Restaurant,Stationery Store,Gym,Department Store,Chinese Restaurant

In [63]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 3, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

,Avg_Price,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
856,2375000.0,Food & Drink Shop,Pub,Thai Restaurant,Pizza Place,Restaurant,Coffee Shop,Park,Farmers Market,Café,Nature Preserve
1103,2340000.0,Campground,Zoo Exhibit,Filipino Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant,Farm,Farmers Market,Fast Food Restaurant
2069,2375000.0,Pub,Park,Indian Restaurant,Yoga Studio,Hotel,Ice Cream Shop,English Restaurant,Clothing Store,Thai Restaurant,Gastropub
2130,2379652.7,Pub,Indian Restaurant,Hotel,Bakery,Ice Cream Shop,Park,Coffee Shop,Hostel,Yoga Studio,Breakfast Spot
2945,2367500.0,Hotel,Pub,Garden,Coffee Shop,Café,Cocktail Bar,Italian Restaurant,Bar,Chinese Restaurant,Mediterranean Restaurant

In [64]:
london_grouped_clustering.loc[london_grouped_clustering['Cluster Labels'] == 4, london_grouped_clustering.columns[[1] + list(range(5, london_grouped_clustering.shape[1]))]].head()

,Avg_Price,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2243,2.300000e+06,Farm,Zoo Exhibit,Filipino Restaurant,Ethiopian Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant,Farmers Market,Fast Food Restaurant
2407,2.286679e+06,Café,Italian Restaurant,Coffee Shop,Pub,Bar,Park,French Restaurant,Portuguese Restaurant,Bookstore,Gourmet Shop
2687,2.287500e+06,Pub,Brewery,Gym / Fitness Center,Gift Shop,Art Museum,Filipino Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant
3378,2.298000e+06,Hotel,Zoo Exhibit,Filipino Restaurant,Ethiopian Restaurant,Event Space,Exhibit,Factory,Falafel Restaurant,Farm,Farmers Market
4286,2.265000e+06,Gym,Gym / Fitness Center,Trail,American Restaurant,Dry Cleaner,Fast Food Restaurant,Ethiopian Restaurant,Event Space,Exhibit,Factory